@import '../../../common/_utils/style/mixins/mixins.scss';

@include b(web-map) {
  width: 100%;
  height: 100%;
  & > .ant-spin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
  }
  // 为了echarts的resize
  .echartMap {
    width: 100% !important;
    height: 100% !important;
  }
  .mapboxgl-canvas-container {
    width: 100% !important;
    height: 100% !important;
  }
}
.mapboxgl-ctrl-top-left .mapboxgl-ctrl {
  margin: 10px 0 0 16px;
}
.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  margin: 10px 16px 0 0;
}
.sm-mapboxgl-tabel-popup {
  .mapboxgl-popup-content {
    padding: 0;
  }
  max-width: none !important;
}
