@import '../../../../../common/_utils/style/mixins/mixins.scss';
@import '../../../../../common/_utils/style/theme/theme.scss';
@import '../../../../../common/card/style/card.scss';
@import '../../../../../common/collapse/style/collapse.scss';
@import '../../../../../common/input/style/input.scss';
@import '../../../../../common/select/style/select.scss';

@mixin disabled($color: $btn-disable-color, $background: $btn-disable-bg, $border: $btn-disable-border) {
  color: $color;
  background-color: $background;
  border-color: $border;
}

@include b(coordinate-conversion) {
  $coordinate-conversion-prefix: &;
  $collapse-prefix: #{$ant-prefix}-collapse;
  z-index: 10;
  width: 389px;
  height: 32px;
  border-radius: 4px;
  @include e(content) {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 30px;
    .#{$collapse-prefix} {
      background: transparent;
      border-radius: 0;
      color: inherit;
    }
  }
  @include e(a-card) {
    padding-top: 4px;
    border-radius: 4px;
    background: transparent;
    > div {
      padding: 0;
    }
  }
  .sm-component-card-body {
    height: 32px;
    padding: 0;
    padding-left: 36px;
  }

  .sm-component-collapse-card__icon {
    &,
    i {
      width: 32px;
      height: 32px;
      line-height: 32px;
    }
  }
  .sm-component-card-bordered {
    height: 32px;
  }
  .sm-component-card-body::before,
  .sm-component-card-body::after {
    display: none;
  }

  @include e(a-select) {
    width: 23.1%;
    height: 24px;
    border-radius: 4px;
    border: 1px solid $border-color-base;
    box-sizing: border-box;
  }
  @include e(a-input) {
    width: 49.5%;
    height: 24px;
    margin-left: 4px;
    margin-right: 8px;
    border-radius: 4px;
    border: 1px solid $border-color-base;
    box-sizing: border-box;
    background: $component-background;
  }
  @include e(hovered) {
    color: #ccc;
  }

  @include e(not-enable) {
    @include disabled();
    cursor: not-allowed;
  }

  @include e(location) {
    color: $primary-color;
    &:hover {
      color: $primary-color;
    }
  }
  @include e(icons) {
    display: inline-flex;
    color: $primary-color;
    div {
      position: relative;
      width: 24px;
      height: 24px;
      border-radius: 4px;
      font-size: 15px;
      cursor: pointer;
      background: $select-item-hover-bg;
    }
    div:before {
      display: block;
      width: 100%;
      height: 24px;
      line-height: 24px;
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
    }
    div:nth-child(2) {
      margin-left: 1px;
    }
    div:nth-child(3) {
      margin-left: 4px;
    }
  }
}
