@import '../../_utils/style/mixins/mixins.scss';
@import '../../_utils/style/theme/theme.scss';


@include b(checkbox) {
  $prefix: &;
  &-wrapper:hover &-inner, &:hover &-inner, &-input:focus + &-inner {
    border-color: $hover-color;
  }
  @include e(inner, '-') {
    background-color: $component-background;
  }
  @include e(disabled, '-') {
    #{$prefix}-inner {
      border-color: $disabled-border-color !important;
    }
  }
}
