@import "../../_utils/style/mixins/mixins.scss";


@include b(btn) {
  $--default-border-color: var(--default-border-color);
  &:not([disabled]):not(&-primary) {
    border-color: $--default-border-color;
    &,
    &:hover, &:focus, &:active {
      background: transparent;
    }
  }

  @include e(danger, '-') {
    &, &:hover, &:focus, &:active {
      background-color: transparent;
      color: var(--danger-bg-color);
    }
  }
  @include e(group, '-') {
    color: var(--text-color);
  }
  &-disabled,
  &.disabled,
  &[disabled] {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      border-color: var(--disabled-border-color);
    }
  }

  &::before {
    background: transparent;
  }
}
