@import "../../_utils/style/mixins/mixins.scss";
@import "mixin.scss";


@include b(btn) {
  $--text-color: var(--default-text-color);
  @include e(default, '-') {
    @include button-default-color($--text-color);
  }
  @include e(dashed, '-') {
    @include button-default-color($--text-color);
  }
  @include e(danger, '-') {
    &, &:hover, &:focus {
      background-color: transparent;
      color: var(--danger-bg-color);
    }
  }
  &-disabled,
  &.disabled,
  &[disabled] {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      color: var(--disabled-text-color);
    }
  }
}
