@import '../../_utils/style/mixins/mixins.scss';
@import '../../_utils//style/theme/theme.scss';
@import '../../input/style/mixin.scss';

@include b(input-number) {
  @include focus-active($primary-5, $primary-shadow-color);
  &-disabled {
    @include disabled();
  }
  &-focused{
    @include focus-color($primary-5, $primary-shadow-color);
  }
  &-handler {
    color: $text-color-secondary;
    &:active {
      background: $input-number-handler-active-bg;
    }
    &-up-inner,
    &-down-inner {
      color: $text-color-secondary;
    }
  }
  @include e(error, '-') {
    border-color: $input-error-color;
    &:hover,
    &:active,
    &:focus {
      border-color: $input-error-color;
    }
    @include focus-active-no-shadow();
  }
  @at-root {
    #{&}-focused#{&}-error{
      box-shadow: none;
    }
  }
  &-md {
    @include input-md();
    input {
      @include input-md();
    }
  }
}
