@mixin transition($string: $transition--default) {
  transition: $string;
}

@mixin display-flex($alignment: '', $justification: '') {
  display: flex;

  @if $alignment != '' {
    -ms-flex-align: $alignment;
    align-items: $alignment;
  }

  @if $justification != '' {
    justify-content: $justification;
  }
}

@mixin flex($value) {
  flex: $value;
}
