@import '../../../common/_utils/style/mixins/mixins.scss';
@import '../../../common/_utils/style/theme/theme.scss';

@include b(attributes) {
  $attributes-prefix: &;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .sm-component-table-wrapper {
    overflow: auto;
    height: calc(100% - 46px);
    .sm-component-table-thead {
      .sm-component-table-column-has-actions {
        .sm-component-table-column-sorters {
          display: block;
          .sm-component-table-column-title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
          }
          .sm-component-table-column-sorter {
            position: absolute;
            right: 4px;
            top: 50%;
            margin-top: -6px;
          }
        }
      }
    }
  }
  @include e(header) {
    height: 30px;
    margin: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include e(count) {
    margin-left: 15px;
    > span {
      margin-right: 8px;
      font-size: 16px;
      font-weight: 500;
    }
  }
  @include e(menu) {
    .sm-component-icon:hover {
      color: $primary-color !important;
    }
  }
}
