@import '../../_utils/style/mixins/mixins.scss';

@include b(border) {
  position: relative;
  box-sizing: border-box;
  border-style: solid;
  @include e(content) {
    position: absolute;
    /* 选择content的后代 E>F */
    > * {
      width: 100%;
      height: 100%;
    }
  }
  .sm-component-chart .sm-component-collapse-card__content {
    width: 100%;
    height: 100%;
  }
}
