@import '../../../../../common/_utils/style/mixins/mixins.scss';
@import '../../../../../common/_utils/style/common/var.scss';

@include b(dynamic-marker) {
  @include m(rotating-aperture) {
    --container-width: 232px;
    --color: #0014f0;
    --light-color: #14c8ff;
    --line-color: rgba(0, 30, 250, 0.2);
    width: var(--container-width);
  }

  @include e(delay-03) {
    animation-delay: 2s !important;
  }

  @include e(delay-02) {
    animation-delay: 1.6s !important;
  }

  @include e(delay-01) {
    animation-delay: 1.2s !important;
  }

  @include e(pulse) {
    position: absolute;
    border: 2px solid;
    border-radius: 48px;
    opacity: 0.12;
    filter: alpha(opacity=0);
    animation: warn 2s ease-out both;
    animation-iteration-count: infinite;
    background: 0 0;
    border-color: #009fd9;
    top: -44px;
    left: -39px;
    height: 88px;
    width: 88px;
    box-shadow: 0 0 12px #0080d9, 0 0 20px #0080d9 inset;
  }

  @include e(name-container) {
    position: relative;
    color: #ccc;
    left: 2px;
    height: 0;
    top: 0;
    width: 11px;
    font-size: 14px;
    transition: all 0.5s ease-in-out;

    & > span {
      width: 80px;
      position: absolute;
      left: 8px;
      top: -11px;
      padding: 6px 10px;
      border-radius: 2px;
      text-align: center;
      white-space: nowrap;
    }
  }

  @include e(dots) {
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation-fill-mode: forwards;
    margin: auto;
    &:before,
    :after {
      content: '';
      position: absolute;
      display: block;
      height: inherit;
      width: inherit;
      border-radius: inherit;
    }
    width: var(--dots-width);
    height: var(--dots-height);
    box-shadow: var(--dots-box-shadow-x-negative) 0 0 var(--dots-box-shadow-radius1-negative) var(--light-color),
      var(--dots-box-shadow-x-negative) 0 4px var(--dots-box-shadow-radius2-negative) var(--color),
      var(--dots-box-shadow-x) 0 0 var(--dots-box-shadow-radius1-negative) var(--light-color),
      var(--dots-box-shadow-x) 0 4px var(--dots-box-shadow-radius2-negative) var(--color),
      0 var(--dots-box-shadow-x-negative) 0 var(--dots-box-shadow-radius1-negative) var(--light-color),
      0 var(--dots-box-shadow-x-negative) 4px var(--dots-box-shadow-radius2-negative) var(--color),
      0 var(--dots-box-shadow-x) 0 var(--dots-box-shadow-radius1-negative) var(--light-color),
      0 var(--dots-box-shadow-x) 4px var(--dots-box-shadow-radius2-negative) var(--color), 0 0 4px 4px #111,
      0 0 4px 8px var(--line-color);
    &:before,
    &:after {
      box-shadow: var(--dots-box-shadow-x-negative) 0 0 var(--dots-box-shadow-radius1-negative) var(--light-color),
        var(--dots-box-shadow-x-negative) 0 4px var(--dots-box-shadow-radius2-negative) var(--color),
        var(--dots-box-shadow-x) 0 0 var(--dots-box-shadow-radius1-negative) var(--light-color),
        var(--dots-box-shadow-x) 0 4px var(--dots-box-shadow-radius2-negative) var(--color),
        0 var(--dots-box-shadow-x-negative) 0 var(--dots-box-shadow-radius1-negative) var(--light-color),
        0 var(--dots-box-shadow-x-negative) 4px var(--dots-box-shadow-radius2-negative) var(--color),
        0 var(--dots-box-shadow-x) 0 var(--dots-box-shadow-radius1-negative) var(--light-color),
        0 var(--dots-box-shadow-x) 4px var(--dots-box-shadow-radius2-negative) var(--color);
    }
  }

  @include e(dots-01) {
    animation: dots 4s linear infinite;
    &:before {
      transform: rotate(8deg);
    }
    &:after {
      transform: rotate(65deg);
    }
  }

  @include e(dots-02) {
    animation: dots2 4s linear infinite;
    &:before {
      transform: rotate(73deg);
    }
    &:after {
      transform: rotate(122deg);
    }
  }

  @include e(dots-03) {
    animation: dots 4s linear infinite;
    &:before {
      transform: rotate(39deg);
    }
    &:after {
      transform: rotate(242deg);
    }
  }
}

@keyframes warn {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes dots {
  0% {
    transform: rotate(0deg) scale(0.7, 0.7);
  }
  50% {
    transform: rotate(180deg) scale(1, 1);
  }
  100% {
    transform: rotate(360deg) scale(0.7, 0.7);
  }
}

@keyframes dots2 {
  0% {
    transform: rotate(0deg) scale(0.7, 0.7);
  }
  50% {
    transform: rotate(-180deg) scale(1, 1);
  }
  100% {
    transform: rotate(-360deg) scale(0.7, 0.7);
  }
}
