@import '../../_utils/style/mixins/mixins.scss';
@import '../../_utils//style/theme/theme.scss';
@import 'mixin.scss';

@include b(input) {
  $input-prefix: &;
  @include focus-active($primary-5, $primary-shadow-color);
  &[disabled] {
    @include disabled();
  }
  @include e(error, '-') {
    border-color: $input-error-color;
    &:hover,
    &:active,
    &:focus {
      border-color: $input-error-color;
    }
    @include focus-active-no-shadow();
  }
  &[readOnly=true] {
    color: $input-read-only-color;
    border-color: $input-read-only-border-color;
    background-color: $input-read-only-bg;
    &:hover {
      border-color: $primary-5;
    }
    @include focus-active($primary-5, $primary-shadow-color);
  }
  @include e(unit, '-') {
    #{$input-prefix}-group-addon {
      color: $input-with-unit-color;
      background-color: $input-bg;
      border: $border-color-base;
    }
    #{$input-prefix}-disabled + #{$input-prefix}-group-addon {
      color: $input-with-unit-disabled-color;
      background-color: $input-addon-bg;
    }
  }
  @include e(disabled, '-') {
    @include disabled();
  }
  @include e(md, '-') {
    @include input-md();
  }
  @include e(group-addon, '-') {
    background-color: $input-addon-bg;
  }
  
  @include e(password, '-') {
    @include suffix-icon();
  }
  @include e(search, '-') {
    @include suffix-icon();
  }
  @include e(clear-icon, '-') {
    @include clear-icon();
  }
  @include e(textarea-clear-icon, '-') {
    @include clear-icon();
  }
  @include e(group, '-') {
    &-md #{$input-prefix},
    &-md > &-addon {
      @include input-md();
    }
  }

  // &:-internal-autofill-selected {
  //   background-color: inset 0 0 0 1000px rgab(255, 255, 255, 0)!important;
  // }
}
