$--assets-path: '../../assets' !default;
$--color-primary: orange !default;
$--fill-base: rgba(27, 24, 24, 0.8) !default;
$--icon-color-fill-base: black !default;
$--color-text-regular: white !default;
$--button-default-background-color: $--icon-color-fill-base !default;
@import "../index"
