@import "../../../../../common/_utils/style/mixins/mixins.scss";
@include b(pan) {
  width: 62px;
  height: 63px;
  position: relative;
  top: 0;
  left: 0;
  @include m(default) {
    background-image: url("#{$--assets-path}/pan.png");
  }
  @include m(east) {
    background-image: url("#{$--assets-path}/pan-east.png");
  }
  @include m(west) {
    background-image: url("#{$--assets-path}/pan-west.png");
  }
  @include m(north) {
    background-image: url("#{$--assets-path}/pan-north.png");
  }
  @include m(south) {
    background-image: url("#{$--assets-path}/pan-south.png");
  }
  @include e(center) {
    width: 17px;
    height: 17px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("#{$--assets-path}/pan.png");
    background-size: contain;
    cursor: pointer;
  }
  @include e(icon) {
    width: 21px;
    height: 21px;
    padding: 0;
    cursor: pointer;
    @include when(left) {
      position: absolute;
      top: 21px;
    }
    @include when(right) {
      position: absolute;
      top: 21px;
      right: 0px;
    }
    @include when(top) {
      position: absolute;
      top: 0px;
      left: 21px;
    }
    @include when(bottom) {
      position: absolute;
      bottom: 0px;
      left: 21px;
    }
  }
}
