@import '../../../common/_utils/style/mixins/mixins.scss';
@import '../../../common/_utils/style/theme/theme.scss';

@include b(compare) {
  position: relative;
  width: 100%;
  height: 100%;
  & > div:not(.mapboxgl-compare) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  & > .mapboxgl-compare {
    z-index: 999;
    user-select: none;
    background-color: #d9d9d9;
    .compare-swiper-vertical,
    .compare-swiper-horizontal {
      box-shadow: inset 0 0 0 2px;
      left: 50%;
      margin: 0;
      box-shadow: none;
      border: 2px solid;
      color: #d9d9d9;
      background-color: $primary-6;
      box-sizing: content-box;
      background-size: contain;
      background-image: none;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 19px;
      &::before {
        font-family: 'sm-components-icon-' !important;
        content: '\e64a';
      }
    }
    .compare-swiper-horizontal {
      transform: translate(-50%, -50%) rotate(90deg);
    }
    .compare-swiper-vertical {
      transform: translate(-50%, -50%);
    }
  }
}
