@import "../../../common/_utils/style/mixins/mixins.scss";

@include b(open-file) {
  margin-left: 30px;
  @include e(title) {
    position: relative;
    width: 110px;
    height: 32px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.75px;
    line-height: 32px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    display: block;
    border: 1px solid #38adf5;
    color: #38adf5;
    cursor: pointer;
    &:hover{
      color: #fff;
      background-color: #38adf5;
    }
  }

  @include e(input) {
    position: relative;
    left: 190px;
    top: 49px;
    height: 32px;
    width: 160px;
    display: none !important;
  }
}
