@import "../../../common/_utils/style/mixins/mixins.scss";

@include b(open-file) {
  width: 110px;
  height: 32px;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid;
  border-radius: 4px;
  color: #38adf5;
  @include e(title) {
    letter-spacing: 0.75px;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  @include e(input) {
    display: none;
  }
}
