$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
.theme-default-content:not(.custom){
  max-width: 80% !important;
}

.page th,.page td{
  width: 1%;
  border-top: none;
  border-left: none;
  border-right: none;
}
.page th:first-child, .page td:first-child{
  padding-left: 10px;
}

.page td{
  color: #606266;
}

.page th{
  white-space: nowrap;
  color: #909399;
  font-weight: 400;
  border-bottom: 1px solid #dcdfe6;
  padding: 15px;
}
.page tr{
  border-top: none !important;
}
.page table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  font-size: 14px;
  margin-bottom: 45px;
  line-height: 1.5em;
}
.page-edit, .page-nav {
 max-width: 80%;
}
.page ul {
  text-indent: 2em;
  font-size: 14px;
}
.page ul + .extra-class{
  font-size: 14px;
  margin-left: 2em;
}
.page h1 {
  font-size: 2rem;
  margin-bottom: 0;
}
.page h1 + p {
  margin-bottom: 1rem;
  margin-top: 0 !important;
}
.page h1, .page h2, .page h3, .page h4, .page h5, .page h6 {
  font-weight: 400;
  color: #1f2f3d;
  margin-bottom: 2rem !important;
}
.page p {
  font-size: 14px;
  color: #5e6d82;
  line-height: 1.5em;
}
.theme-container.web-scene .custom-block .custom-block-title,
.theme-container.chart .custom-block .custom-block-title,
.theme-container.icon .custom-block .custom-block-title,
.theme-container.progress .custom-block .custom-block-title{
  display: none;
}

.border #images {
  background: #000;
  z-index:22;
  border: 2px solid green;
  display: none;
  position: absolute;
  width: 250px;
}
.border:hover #images{
  display: block;
  padding: 10px;
  cursor: pointer;
}
