@import '../../_utils/style/mixins/mixins.scss';
@import '../../_utils/style/theme/theme.scss';

@include b(notification) {
  &-notice {
    $notice-prefix: &;
    background: $message-background;
    padding: 20px 24px 24px;

    &-message {
      color: $heading-color;
    }

    @at-root {
      .#{$iconfont-css-prefix}#{&}-icon {
        margin-left: 0;
        &-warning {
          color: $warning-color;
        }
        &-error {
          color: $error-color;
        }
      }
    }

    &-close {
      color: $text-color-secondary;
      &:hover {
        color: $text-color;
      }
    }

    &-with-icon {
      #{$notice-prefix}-message, #{$notice-prefix}-description {
        margin-left: 36px;
      }
    }
  }
}
