@import "vue-iclient/src/common/_utils/style/mixins/rtl-mixin.scss";
@import '../../../common/_utils/style/mixins/mixins.scss';
@import '../../../common/_utils/style/theme/theme.scss';
@import '../../../common/attribute-panel/style/attribute-panel.scss';

@include b(map-popup) {
  min-width: 200px;
  height: auto;
  padding: 10px;
  border-radius: 4px;
  .switchDataText {
    display: inline-flex;
    padding: 8px 0px;
    @include spacing-margin(10px, right, false);
    span {
      vertical-align: 3px;
    }
    .icon {
      font-size: 16px;
    }
    .left-icon {
      @include spacing-padding(5px, right, false);
    }
    .right-icon {
      @include spacing-padding(5px, left, false);
    }
    .disabled {
      color: $disabled-color;
    }
  }
}
