@import '../../../common/_utils/style/mixins/mixins.scss';
@import '../../../common/_utils/style/theme/theme.scss';
@import '../../../common/attribute-panel/style/attribute-panel.scss';

@include b(map-popup) {
  min-width: 200px;
  height: auto;
  padding: 10px;
  border-radius: 4px;
  .title {
    margin: 8px 14px;
  }
  .switchDataText {
    position: absolute;
    right: 10px;
    top: 18px;
    .icon {
      font-size: 16px;
    }
    .left-icon {
      padding-right: 5px;
    }
    .right-icon {
      padding-left: 5px;
    }
    .disabled {
      color: $disabled-color;
    }
  }
}
