@import "../../_utils/style/mixins/mixins.scss";
@import "./countTo.scss";

@include b(indicator) {
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  color: #595959;
  @include e(head) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding-left: 5px;
    margin-right: 5px;
  }
  @include e(title) {
    font-size: 16px;
    line-height: 2.3;
    font-weight: bolder;
  }
  @include e(content) {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    font-weight: bolder;
    margin-right: 10px;
  }
  @include e(num) {
    font-weight: bolder;
    color: rgb(73, 155, 255);
    font-size: 22px;
  }
  @include e(unit) {
    text-indent: 5px;
    font-size: 16px;
    line-height: 2.4;
  }
}
