@import "./var.scss";
body {
  font-family: Microsoft YaHei, sans-serif !important;
}
.add-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.hidden {
  display: none;
}

.clearfix:after {
  content: " ";
  height: 0;
  display: block;
  clear: both;
}

.disabled {
  pointer-events: none;
}
