body {
  font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, 'Segoe UI Emoji', Segoe UI Symbol !important;
}
.add-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.hidden {
  display: none;
}

.clearfix:after {
  content: ' ';
  height: 0;
  display: block;
  clear: both;
}

.disabled {
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: rgba(245, 245, 245, 0);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bbb;
}
