// The prefix to use on all css classes
$sm-prefix: sm-component;
$ant-prefix: $sm-prefix;

// ICONFONT
$iconfont-css-prefix: anticon;
$iconfont-class-prefix: sm-components-icon;

$primary-color: var(--color-primary);
$primary-color-hover: var(--color-primary-hover);

// 边框
$border-color-split: var(--color-border);
$shadow-color: var(--shadow-color);

// 文字
$text-color: var(--color-text);
$text-color-heading: var(--color-text-heading);
$text-color-secondary: var(--color-text-secondary);
$text-color-disabled: var(--color-text-quaternary);

// 滚动条
$scrollbar-bg: var(--scrollbar-bg);

// gis 组件
$gis-control-bg: var(--gis-control-bg);
$gis-control-header-bg: var(--gis-control-header-bg);
$gis-control-header-border: var(--gis-control-header-border);
$gis-control-item-bg-selected: var(--gis-control-item-bg-selected);
$gis-control-item-bg-hover: var(--gis-control-item-bg-hover);
