// The prefix to use on all css classes
$sm-prefix: sm-component;
$ant-prefix: $sm-prefix;

// ICONFONT
$iconfont-css-prefix: anticon;
$iconfont-class-prefix: sm-components-icon;

// 主色
$primary-color: var(--color-primary);// #0081E2 / #3499E5
$primary-color-hover: var(--color-primary-hover);// #008EF0 / #65C0FC
$primary-color-active: var(--color-primary-active);// #006ECF / #0371C3
$primary-color-selected: var(--color-primary-selected);// #0081E2 8% / #3499E5 15%
$success-color: var(--color-success); // #00BC00 / #3DAB1B
$error-color: var(--color-error); // #E41318 / #E04C40
$warning-color: var(--color-warning); // #F2B200 / #E2CA34

// 边框
$border-color-split: var(--color-border);// @black 15% / @white 25%
$border-color-secondary: var(--color-border-secondary);// @black 8% / @white 15%
$shadow-color: var(--shadow-color);// @black 35% / @white 15%

// 文字
$text-color: var(--color-text);// @black 65% / @white 65%
$text-color-heading: var(--color-text-heading);// @black 85% / @white 85%
// 一般用于描述性文本，例如表单的中的补充说明文本、列表的描述性文本等场景。
$text-color-tertiary: var(--color-text-tertiary);// @black 45% / @white 45%
// 表单的输入提示文本、禁用色文本
$text-color-quaternary: var(--color-text-quaternary); // @black 25% / @white 25%
$text-color-disabled: $text-color-quaternary;

// 背景
$color-fill-tertiary: var(--color-fill-tertiary); // @black 4% / @white 8%

// 滚动条
$scrollbar-bg: var(--scrollbar-bg); // @black 15% / @white 15%

// gis 组件
$gis-control-bg: var(--gis-control-bg); // @white / #414141
$gis-control-bg-secondary: var(--gis-control-bg-secondary);// @black 4% / @black 8%
$gis-control-header-bg: var(--gis-control-header-bg); // @white / #4a4a4a
$gis-control-header-border: var(--gis-control-header-border);// @black 15% / #4a4a4a
$gis-control-item-bg-selected: $primary-color-selected;
$gis-control-item-bg-hover: var(--gis-control-item-bg-hover);// @black 8% / @white 8%
$gis-control-suffix-bg: var(--gis-control-suffix-bg); // @black 8% / #414141
