
@mixin disabled($prefix) {
  background-color: $switch-disabled-bg-color;

  #{$prefix}-loading-icon,
  &:after {
    background-color:$switch-after-bg;
  }
  #{$prefix}-inner {
    color: $switch-after-bg;
  }
}
