@import '../../_utils/style/mixins/mixins.scss';
@import '../../_utils//style/theme/theme.scss';
@import '../../input/style/mixin.scss';

@include b(input-number) {
  @include focus($primary-5, $primary-shadow-color);
  &-focused {
    @include focus-color($primary-5, $primary-shadow-color);
  }
  &-handler {
    color: $text-color-secondary;
    &:active {
      background: $input-number-handler-active-bg;
    }
    &-up-inner,
    &-down-inner {
      color: $text-color-secondary;
    }
  }
  &-md {
    @include input-md();
    input {
      @include input-md();
    }
  }
}
