@import '../../modal/style/modal.scss';

// TODO 待重构 考虑下 modal 中的 player

.sm-component-video-player__player > .video-js {
  width: 100%;
}
.sm-component-video-player__player.sm-component-video-player__player--main > .video-js {
  height: 100%;
}

.sm-component-video-player__player > .video-js .vjs-menu-button-inline.vjs-slider-active,
.sm-component-video-player__player > .video-js .vjs-menu-button-inline:focus,
.sm-component-video-player__player > .video-js .vjs-menu-button-inline:hover,
.video-js.vjs-no-flex .vjs-menu-button-inline {
  width: 10em;
}

.sm-component-video-player__player > .video-js .vjs-controls-disabled .vjs-big-play-button {
  display: none !important;
}

.sm-component-video-player__player > .video-js .vjs-control {
  width: 3em;
}

.sm-component-video-player__player > .video-js .vjs-control.vjs-live-control {
  width: auto;
  padding-left: 0.5em;
  letter-spacing: 0.1em;
}

.sm-component-video-player__player > .video-js .vjs-menu-button-inline:before {
  width: 1.5em;
}

.vjs-paused.vjs-has-started.sm-component-video-player__player > .video-js .vjs-big-play-button,
.video-js.vjs-ended .vjs-big-play-button,
.video-js.vjs-paused .vjs-big-play-button {
  display: block;
}

.sm-component-video-player__player > .video-js .vjs-load-progress div,
.vjs-seeking .vjs-big-play-button,
.vjs-waiting .vjs-big-play-button {
  display: none !important;
}

.sm-component-video-player__player > .video-js .vjs-mouse-display:after,
.sm-component-video-player__player > .video-js .vjs-play-progress:after {
  padding: 0 0.4em 0.3em;
}

.video-js.vjs-ended .vjs-loading-spinner {
  display: none;
}

.video-js.vjs-ended .vjs-big-play-button {
  display: block !important;
}

.video-js.vjs-ended .vjs-big-play-button,
.video-js.vjs-paused .vjs-big-play-button,
.vjs-paused.vjs-has-started.sm-component-video-player__player > .video-js .vjs-big-play-button {
  display: block;
}

.sm-component-video-player__player > .video-js .vjs-big-play-button {
  top: 50%;
  left: 50%;
  margin-left: -1.5em;
  margin-top: -1em;
}

.sm-component-video-player__player > .video-js .vjs-big-play-button {
  background-color: rgba(0, 0, 0, 0.45);
  font-size: 3.5em;
  /*border-radius: 50%;*/
  height: 2em !important;
  line-height: 2em !important;
  margin-top: -1em !important;
}

.video-js:hover .vjs-big-play-button,
.sm-component-video-player__player > .video-js .vjs-big-play-button:focus,
.sm-component-video-player__player > .video-js .vjs-big-play-button:active {
  background-color: rgba(36, 131, 213, 0.9);
}

.sm-component-video-player__player > .video-js .vjs-loading-spinner {
  border-color: rgba(36, 131, 213, 0.8);
}

.sm-component-video-player__player > .video-js .vjs-control-bar2 {
  background-color: #000000;
}

.sm-component-video-player__player > .video-js .vjs-control-bar {
  /*background-color: rgba(0,0,0,0.3) !important;*/
  color: #ffffff;
  font-size: 14px;
}

.sm-component-video-player__player > .video-js .vjs-play-progress,
.sm-component-video-player__player > .video-js .vjs-volume-level {
  background-color: #2483d5;
}

.sm-component-video-player__player > .video-js .vjs-play-progress:before {
  top: -0.3em;
}

.sm-component-video-player__player > .video-js .vjs-progress-control:hover .vjs-progress-holder {
  font-size: 1.3em;
}

.vjs-menu-button-popup.vjs-volume-menu-button-vertical .vjs-menu {
  left: 0em;
}

.sm-component-video-player__player > .video-js .vjs-menu li {
  padding: 0;
  line-height: 2em;
  font-size: 1.1em;
}

.sm-component-video-player__player > .video-js .vjs-time-tooltip,
.sm-component-video-player__player > .video-js .vjs-mouse-display:after,
.sm-component-video-player__player > .video-js .vjs-play-progress:after {
  border-radius: 0;
  font-size: 1em;
  padding: 0;
  width: 3em;
  height: 1.5em;
  line-height: 1.5em;
  top: -3em;
}

.sm-component-video-player__player > .video-js .vjs-menu-button-popup .vjs-menu {
  width: 5em;
  left: -1em;
}

.sm-component-video-player__player > .video-js .vjs-menu-button-popup.vjs-volume-menu-button-vertical .vjs-menu {
  left: 0;
}

/*排序顺序*/
.sm-component-video-player__player > .video-js .vjs-control-bar .vjs-play-control {
  order: 0;
}

.sm-component-video-player__player > .video-js .vjs-control-bar .vjs-time-control {
  min-width: 1em;
  padding: 0;
  margin: 0 0.1em;
  text-align: center;
  display: block;
  order: 1;
}

.sm-component-video-player__player > .video-js .vjs-control-bar .vjs-playback-rate .vjs-playback-rate-value {
  font-size: 1.2em;
  line-height: 2.4;
}

.sm-component-video-player__player > .video-js .vjs-progress-control.vjs-control {
  order: 2;
}

.sm-component-video-player__player > .video-js .vjs-control-bar .vjs-volume-menu-button {
  order: 3;
}

.sm-component-video-player__player > .video-js .vjs-control-bar .vjs-resolution-button {
  order: 4;
}

.sm-component-video-player__player > .video-js .vjs-control-bar .vjs-resolution-button .vjs-resolution-button-label {
  display: block;
  line-height: 3em;
}

.sm-component-video-player__player > .video-js .vjs-control-bar .vjs-playback-rate {
  order: 5;
}

.sm-component-video-player__player > .video-js .vjs-control-bar .vjs-fullscreen-control {
  order: 6;
}
.sm-component-video-player__player > .video-js.vjs-fullscreen {
  width: 500px !important;
  height: 500px !important;
}

.sm-component-video-player {
  width: 600px;
  height: 360px;
  .vjs_video_3-dimensions {
    height: 100% !important;
  }
  .sm-component-video-player__player {
    width: 100%;
    height: 100%;
  }
  .sm-component-video-player__player[data-popupplay='false'].sm-component-video-player__player[data-autoplay='true']
    > .video-js
    .vjs-big-play-button {
    display: none;
  }
  .sm-component-video-player__player[data-islive='true'] {
    pointer-events: none;
    & > .video-js .vjs-control-bar {
      pointer-events: auto;
      .vjs-time-control,
      .vjs-progress-control {
        visibility: hidden;
        pointer-events: none;
      }
      .vjs-play-control {
        display: none;
      }
    }
  }
  .sm-component-video-player__player[data-popupplay='true'] {
    pointer-events: auto;
  }
}
.sm-component-video-player-modal {
  .sm-component-modal-close {
    color: #a2a3a5;
    right: -5%;
    top: -3%;
    &:hover {
      color: #ff5c38;
    }
  }
  .sm-component-modal-close-x {
    font-size: 40px;
  }
  .sm-component-modal-body {
    padding: 0;
    .sm-component-video-player__player[data-autoplay='true'] > .video-js .vjs-big-play-button {
      display: none;
    }
    .sm-component-video-player__player[data-islive='true'] {
      pointer-events: none;
      & > .video-js .vjs-control-bar {
        pointer-events: auto;
        .vjs-time-control,
        .vjs-progress-control {
          visibility: hidden;
          pointer-events: none;
        }
        .vjs-play-control {
          display: none;
        }
      }
    }
  }
  background: rgba(0, 0, 0, 0.7);
}
