@import "./config";

@mixin b($block) {
  $N: $namespace +'-'+ $block !global;
  .#{$N} {
    @content;
  }
}

@mixin e($element, $separator: $element-separator) {
  $E: $element !global;
  $selector: &;
  $currentSelector: "";
    @each $unit in $element {
        $currentSelector: #{$currentSelector + "." + $N + $separator+$unit+','};
    }

  @at-root {
    #{$currentSelector} {
      @content;
    }
  }
}

@mixin when($state){
    @at-root{
        &.#{$state-prefix+$state}{
            @content
        }
    }
};

@mixin m($modifier){
    $selector: &;
    $currentSelector :"";
    @each $unit in $modifier {
        $currentSelector: #{$currentSelector + & + $modifier-separator+$unit+','};
    }
    @at-root {
        #{$currentSelector} {
          @content;
        }
      }
}
