// -------------------- Margin --------------------
@function with-important($value, $important: false) {
  @if $important == true {
    @return #{$value} !important;
  }

  @return $value;
}

@mixin spacing-margin($padding: 16px, $direction: right, $important: false) {
  @if $direction == right {
    html[dir='ltr'] & {
      margin-right: with-important($padding, $important);
    }
    html[dir='rtl'] & {
      margin-left: with-important($padding, $important);
    }
  } @else if $direction == left {
    html[dir='ltr'] & {
      margin-left: with-important($padding, $important);
    }
    html[dir='rtl'] & {
      margin-right: with-important($padding, $important);
    }
  }
}

@mixin spacing-complate-margin($margin, $important: false) {
  $len: length($margin);
  @if $len == 4 {
    $top: nth($margin, 1);
    $right: nth($margin, 2);
    $bottom: nth($margin, 3);
    $left: nth($margin, 4);

    html[dir='ltr'] & {
      margin: with-important($top $right $bottom $left, $important);
    }
    html[dir='rtl'] & {
      margin: with-important($top $left $bottom $right, $important);
    }
  } @else {
    margin: with-important($margin, $important);
  }
}

// -------------------- Padding --------------------
@mixin spacing-padding($padding: 16px, $direction: right, $important: false) {
  @if $direction == right {
    html[dir='ltr'] & {
      padding-right: with-important($padding, $important);
    }
    html[dir='rtl'] & {
      padding-left: with-important($padding, $important);
    }
  } @else if $direction == left {
    html[dir='ltr'] & {
      padding-left: with-important($padding, $important);
    }
    html[dir='rtl'] & {
      padding-right: with-important($padding, $important);
    }
  }
}

@mixin spacing-complate-padding($padding, $important: false) {
  $len: length($padding);
  @if $len == 4 {
    $top: nth($padding, 1);
    $right: nth($padding, 2);
    $bottom: nth($padding, 3);
    $left: nth($padding, 4);

    html[dir='ltr'] & {
      padding: with-important($top $right $bottom $left, $important);
    }
    html[dir='rtl'] & {
      padding: with-important($top $left $bottom $right, $important);
    }
  } @else {
    padding: with-important($padding, $important);
  }
}

@mixin rtl-direction-property($ltr-property, $rtl-property, $value, $important: false) {
  html[dir='ltr'] & {
    #{$ltr-property}: with-important($value, $important);
  }

  html[dir='rtl'] & {
    #{$rtl-property}: with-important($value, $important);
  }
}

// -------------------- Border --------------------
@mixin border-line-style($direction, $width: 1px, $style: solid, $color: #ccc, $important: false) {

  @if $direction == right {

    html[dir='ltr'] & {
      @if $width == none {
        border-right: with-important(none, $important);
      } @else {
        border-right: with-important($width $style $color, $important);
      }
    }

    html[dir='rtl'] & {
      @if $width == none {
        border-left: with-important(none, $important);
      } @else {
        border-left: with-important($width $style $color, $important);
      }
    }

  } @else if $direction == left {

    html[dir='ltr'] & {
      @if $width == none {
        border-left: with-important(none, $important);
      } @else {
        border-left: with-important($width $style $color, $important);
      }
    }

    html[dir='rtl'] & {
      @if $width == none {
        border-right: with-important(none, $important);
      } @else {
        border-right: with-important($width $style $color, $important);
      }
    }

  }
}

@mixin border-line-width($direction, $value, $important: false) {
  @if $direction == right {
    @include rtl-direction-property(border-right-width, border-left-width, $value, $important);
  } @else if $direction == left {
    @include rtl-direction-property(border-left-width, border-right-width, $value, $important);
  }
}

@mixin border-line-type($direction, $value, $important: false) {
  @if $direction == right {
    @include rtl-direction-property(border-right-style, border-left-style, $value, $important);
  } @else if $direction == left {
    @include rtl-direction-property(border-left-style, border-right-style, $value, $important);
  }
}

@mixin border-line-color($direction, $value, $important: false) {
  @if $direction == right {
    @include rtl-direction-property(border-right-color, border-left-color, $value, $important);
  } @else if $direction == left {
    @include rtl-direction-property(border-left-color, border-right-color, $value, $important);
  }
}
// -------------------- Position --------------------
@mixin position-row($direction, $value, $isContrary: false, $important: false) {
  @if $direction == right {
    html[dir='ltr'] & {
      right: with-important($value, $important);
      @if $isContrary == true {
        right: with-important($value, $important);
        left: auto;
      }
    }
    html[dir='rtl'] & {
      left: with-important($value, $important);
      @if $isContrary == true {
        left: with-important($value, $important);
        right: auto;
      }
    }
  } @else if $direction == left {
    html[dir='ltr'] & {
      left: with-important($value, $important);
      @if $isContrary == true {
        left: with-important($value, $important);
        right: auto;
      }
    }
    html[dir='rtl'] & {
      right: with-important($value, $important);
      @if $isContrary == true {
        right: with-important($value, $important);
        left: auto;
      }
    }
  }
}

// -------------------- Float --------------------
@mixin float-row($direction: left, $important: false) {
  @if $direction == left {
    html[dir='ltr'] & {
      float: with-important(left, $important);
    }
    html[dir='rtl'] & {
      float: with-important(right, $important);
    }
  } @else if $direction == right {
    html[dir='ltr'] & {
      float: with-important(right, $important);
    }
    html[dir='rtl'] & {
      float: with-important(left, $important);
    }
  }
}

// -------------------- Text Align --------------------
@mixin text-align-transform($direction: right, $important: false) {
  @if $direction == right {
    html[dir='ltr'] & {
      text-align: with-important(right, $important);
    }
    html[dir='rtl'] & {
      text-align: with-important(left, $important);
    }
  } @else if $direction == left {
    html[dir='ltr'] & {
      text-align: with-important(left, $important);
    }
    html[dir='rtl'] & {
      text-align: with-important(right, $important);
    }
  } @else {
    text-align: with-important($direction, $important);
  }
}

// -------------------- Transform --------------------
@mixin transform-translate($x, $y, $important: false) {
  html[dir='ltr'] & {
    transform: with-important(translate($x, $y), $important);
  }
  html[dir='rtl'] & {
    transform: with-important(translate(-$x, $y), $important);
  }
}

@mixin transform-translateX($x, $important: false) {
  html[dir='ltr'] & {
    transform: with-important(translateX($x), $important);
  }
  html[dir='rtl'] & {
    transform: with-important(translateX(-$x), $important);
  }
}

// -------------------- Border Radius --------------------
@mixin spacing-complate-radius($radius, $important: false) {
  $len: length($radius);
  @if $len == 4 {
    $top-left: nth($radius, 1);
    $top-right: nth($radius, 2);
    $bottom-right: nth($radius, 3);
    $bottom-left: nth($radius, 4);

    html[dir='ltr'] & {
      border-radius: with-important($top-left $top-right $bottom-right $bottom-left, $important);
    }
    html[dir='rtl'] & {
      border-radius: with-important($top-right $top-left $bottom-left $bottom-right, $important);
    }
  } @else {
    border-radius: with-important($radius, $important);
  }
}

@mixin border-corner-radius($vertical, $direction, $value, $important: false) {
  @if $vertical == top and $direction == right {
    @include rtl-direction-property(border-top-right-radius, border-top-left-radius, $value, $important);
  } @else if $vertical == top and $direction == left {
    @include rtl-direction-property(border-top-left-radius, border-top-right-radius, $value, $important);
  } @else if $vertical == bottom and $direction == right {
    @include rtl-direction-property(border-bottom-right-radius, border-bottom-left-radius, $value, $important);
  } @else if $vertical == bottom and $direction == left {
    @include rtl-direction-property(border-bottom-left-radius, border-bottom-right-radius, $value, $important);
  }
}

// html[dir='rtl'] {
//   // tab
//   .sm-component-tabs-content {
//     flex-direction: column !important;
//   }
//   .sm-component-tabs-ink-bar {
//     display: none !important;
//   }
//   .sm-component-tabs-nav {
//     .sm-component-tabs-tab {
//       margin-right: 0 !important;
//     }
//   }

//   // confirm modal
//   .sm-component-modal-confirm {
//     .sm-component-modal-confirm-body {
//       text-align: right;
//     }

//     .sm-component-modal-confirm-body > .anticon {
//       float: right;
//       margin-right: 0;
//       margin-left: 16px;
//     }

//     .sm-component-modal-confirm-body > .anticon + .sm-component-modal-confirm-title + .sm-component-modal-confirm-content {
//       margin-left: 0;
//       margin-right: 38px;
//     }

//     .sm-component-modal-confirm-btns {
//       float: left;
//       text-align: left;
//     }

//     .sm-component-modal-confirm-btns button + button {
//       margin-left: 0;
//       margin-right: 8px;
//     }
//   }

//     // 折叠
//     .sm-mapdashboard-icon-arrow-right {
//       display: inline-block;
//       transform: rotate(180deg);
//     }

//     .sm-mapdashboard-icon-arrow-down {
//         & + span {
//         display: inline-block;
//       }
//     }

//     // button
//     .sm-component-btn-group .sm-component-btn:last-child {
//       border-left-color: $data-selector-table-body-hover-bg !important;
//     }

//   // select、menu
//   .sm-component-select-selection__rendered {
//     direction: rtl;
//     text-align: right;
//   }

//   .sm-component-select-selection--single .sm-component-select-selection__rendered {
//     margin-left: 24px;
//     margin-right: 11px;
//   }

//   .sm-component-select-no-arrow .sm-component-select-selection__rendered {
//     margin-left: 11px;
//   }

//   .sm-component-select-selection-selected-value {
//     float: right;
//     text-align: right;
//   }

//   .sm-component-select-selection__placeholder,
//   .sm-component-select-search__field__placeholder {
//     left: 9px;
//     right: 0;
//     text-align: right;
//   }

//   .sm-component-select-arrow,
//   .sm-component-select-selection__clear {
//     left: 11px;
//     right: auto;
//   }

//   .sm-component-select-selection--multiple .sm-component-select-selection__rendered {
//     margin-left: 0;
//     margin-right: 5px;
//   }

//   .sm-component-select-selection--multiple .sm-component-select-selection__placeholder {
//     margin-left: 0;
//     margin-right: 6px;
//   }

//   .sm-component-select-selection--multiple .sm-component-select-search--inline {
//     float: right;
//   }

//   .sm-component-select-selection--multiple .sm-component-select-selection__choice {
//     float: right;
//     margin-left: 4px;
//     margin-right: 0;
//     padding: 0 10px 0 20px;
//   }

//   .sm-component-select-selection--multiple .sm-component-select-selection__choice__remove {
//     left: 4px;
//     right: auto;
//   }

//   .sm-component-select-allow-clear .sm-component-select-selection--multiple .sm-component-select-selection__rendered,
//   .sm-component-select-show-arrow .sm-component-select-selection--multiple .sm-component-select-selection__rendered,
//   .sm-component-select-combobox.sm-component-select-allow-clear .sm-component-select-selection:hover
//   .sm-component-select-selection__rendered,
//   .sm-component-select-combobox.sm-component-select-show-arrow .sm-component-select-selection:hover
//   .sm-component-select-selection__rendered {
//     margin-left: 20px;
//     margin-right: 5px;
//   }

//   .sm-component-select-dropdown,
//   .sm-component-select-dropdown-menu,
//   .sm-component-dropdown-menu,
//   .sm-component-menu:not(.sm-component-menu-horizontal) {
//     direction: rtl;
//     text-align: right;
//   }

//   .sm-component-select-dropdown-menu-item,
//   .sm-component-select-dropdown-menu-item-group-title,
//   .sm-component-dropdown-menu-item,
//   .sm-component-dropdown-menu-submenu-title,
//   .sm-component-dropdown-menu-item-group-title,
//   .sm-component-menu-item,
//   .sm-component-menu-submenu-title,
//   .sm-component-menu-item-group-title {
//     text-align: right;
//   }

//   .sm-component-dropdown-menu-item > .anticon:first-child,
//   .sm-component-dropdown-menu-submenu-title > .anticon:first-child,
//   .sm-component-dropdown-menu-item > span > .anticon:first-child,
//   .sm-component-dropdown-menu-submenu-title > span > .anticon:first-child {
//     margin-left: 8px;
//     margin-right: 0;
//   }

//   .sm-component-menu-item .anticon,
//   .sm-component-menu-submenu-title .anticon {
//     margin-left: 10px;
//     margin-right: 0;
//   }

//   .sm-component-dropdown-menu-item .sm-component-dropdown-menu-submenu-arrow,
//   .sm-component-dropdown-menu-submenu-title .sm-component-dropdown-menu-submenu-arrow {
//     left: 8px;
//     right: auto;
//   }

//   .sm-component-dropdown-menu-submenu-vertical > .sm-component-dropdown-menu {
//     left: auto;
//     right: 100%;
//     margin-left: 0;
//     margin-right: 4px;
//     transform-origin: 100% 0;
//   }

// }
