@import '../../_utils/style/mixins/mixins.scss';

@include b(time-text) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  & > span {
    padding: 10px;
    vertical-align: middle;
  }
}
