@import '../../_utils/style/mixins/mixins.scss';
@import '../../_utils/style/theme/theme.scss';

@include b(card) {
  $card-prefix: &;

  @include e(actions, '-') {
    background: $card-actions-background;
    > li {
      color: $text-color-secondary;
      > span {
        &:hover {
          color: $primary-color;
        }

        a:not(#{$ant-prefix}-btn),
        > .anticon {
          color: $text-color-secondary;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }

  @include e(type-inner, '-') {
    #{$card-prefix}-head {
      background: $background-color-light;
    }
  }

  @include e(meta, '-') {
    &-title {
      color: $card-head-color;
    }

    &-description {
      color: $text-color-secondary;
    }
  }
}
