@import '../../../common/_utils/style/mixins/mixins.scss';
@import '../../../common/_utils/style/theme/theme.scss';
@import '../../../common/table-popup/style/table-popup.scss';

@include b(attribute-panel) {
  min-width: 200px;
  height: 100%;
  overflow: auto;
  border-radius: 4px;
  border: 1px solid $border-color-split;
  @include e(header) {
    width: 100%;
    display: inline-flex;
    align-items: center;
    padding: 8px;
    border-bottom: 2px solid $border-color-split;
    .switchDataText {
      position: absolute;
      right: 10px;
      display: flex;
      .icon {
        font-size: 16px;
      }
      .left-icon {
        padding-right: 5px;
      }
      .right-icon {
        padding-left: 5px;
      }
      .disabled {
        color: $disabled-color;
      }
    }
    .ellipsis {
      max-width: calc(100% - 80px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  @include e(content) {
    width: 100%;
    height: auto;
    padding-top: 5px;
    .sm-component-table-content {
      max-height: none !important;
    }
  }
}