@use './mixins/mixins.scss' as *;
@use './base/theme.scss' as *;

@include b(count-to) {
  @include e(numItem) {
    display: inline-block;
  }
}

@include b(indicator) {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  @include e(content) {
    display: flex;
    align-items: flex-end;
  }

  @include e(content-vertical) {
    flex-direction: column;
    align-items: flex-start;

    .sm-component-indicator__title {
      margin-bottom: 8px;
    }
  }

  @include e(content-horizontal) {
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-around;

    .sm-component-indicator__title {
      /* stylelint-disable-next-line */
      line-height: 1.2;
    }
  }

  @include e(num) {
    /* stylelint-disable-next-line */
    font-weight: bolder;
    /* stylelint-disable-next-line */
    color: $primary-color;
    /* stylelint-disable-next-line */
    line-height: 1;
  }

  @include e(unit) {
    /* stylelint-disable-next-line */
    text-indent: 5px;
    /* stylelint-disable-next-line */
    line-height: 1.2;
  }
}