@use '@supermapgis/common/theme-chalk/mixins/mixins' as *;
@use '@supermapgis/common/theme-chalk/base/theme.scss' as *;

@include b(table-wrapper) {
  $table-selector: #{$ant-prefix}-table;
  
  .#{$table-selector}-tbody > tr.#{$table-selector}-row:hover > td,
  .#{$table-selector}-tbody > tr > td.#{$table-selector}-cell-row-hover {
    background: $gis-control-item-bg-hover;
  }
  .#{$table-selector}-thead >tr>th, .#{$table-selector}-thead >tr>td {
    background: $gis-control-item-bg-hover;
  }
  .#{$table-selector}-container table>thead>tr:first-child >*:first-child {
    border-start-start-radius: 4px;
    background: $gis-control-header-bg;
  }
  .#{$table-selector}-container table>thead>tr:first-child >*:last-child {
    border-start-end-radius: 4px;
    background: $gis-control-header-bg;
  }
  td.#{$table-selector}e-column-sort {
    background: rgba(0,0,0,0.01);
  }
}
