@use '@supermapgis/common/theme-chalk/mixins/mixins' as *;
@use '@supermapgis/common/theme-chalk/base/theme.scss' as *;
@use '@supermapgis/common/theme-chalk/table';

@include b(table-popup) {
  $table-prefix: #{$ant-prefix}-table;
  border-radius: 4px;
  /* stylelint-disable-next-line */
  font-size: 12px;
  .#{$table-prefix}-thead > tr > th {
    border-bottom: 1px solid $gis-control-header-border;
  }

  &:not(.with-split-line) {
    .#{$table-prefix}-thead > tr > th {
      border-bottom: none;
    }
  }

  @include e(table) {
    font-size: inherit;
    &.#{$table-prefix}-wrapper {
      .#{$table-prefix}-content {
        height: var(--sm-table-popup-height, auto);
        max-height: var(--sm-table-popup-max-height, 250px);
        overflow: auto;
        scrollbar-gutter: stable;
        scrollbar-width: thin;
        scrollbar-color: $scrollbar-bg transparent;

        &::-webkit-scrollbar {
          width: 8px;
          height: 8px;
        }

        &::-webkit-scrollbar-track {
          background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 4px;
          background-color: $scrollbar-bg;
        }
        .#{$table-prefix}-placeholder {
          background: transparent;
          border-top: none;
          color: inherit;
          .#{$ant-prefix}-empty {
            background-color: transparent;
          }
        }
      }
    }
    &
    .#{$table-prefix} {
      color: inherit;
      font-size: inherit;
      background: inherit;
    }
    .#{$table-prefix}-thead > tr, .#{$table-prefix}-tbody > tr {
      & > th, & > td {
        padding: 4px 16px;
      }
    }
    .#{$table-prefix}-tbody > tr > td {
      transition: all 0s, height 0s;
      border-bottom-color: transparent;
    }
    .#{$table-prefix}-row {
      &:hover {
        /* stylelint-disable-next-line */
        color: $primary-color;
      }
    }
  }
}
