@use '@supermapgis/common/theme-chalk/mixins/mixins' as *;
@use '@supermapgis/common/theme-chalk/base/theme.scss' as *;
@use '@supermapgis/common/theme-chalk/tooltip';

@include b(user-info) {
  min-width: 24px;
  position: relative;
  /* stylelint-disable-next-line */
  color: $text-color;
  /* stylelint-disable-next-line */
  font-size: 14px;
  gap: 6px;
  padding-left: 4px;
  display: flex;
  align-items: center;

  &:hover {
    /* stylelint-disable-next-line */
    color: $primary-color-hover;
  }

  .user-icon-holder {
    cursor: pointer;
    background: $primary-color-hover;
    border-radius: 4px;

    > i {
      /* stylelint-disable-next-line */
      color: $icon-color-secondary;
    }
  }

  > span {
    cursor: pointer;
    overflow: hidden;
    flex: 0 1 auto;
    min-width: fit-content;
    max-width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .user-logined {
    display: inline-block;
    vertical-align: top;
    width: 24px;
      /* stylelint-disable-next-line */
    line-height: 24px;
    height: 24px;
    text-align: center;
    cursor: pointer;
    background: transparent;

    i {
      /* stylelint-disable-next-line */
      font-size: 16px;
      /* stylelint-disable-next-line */
      color: $primary-color;
    }
  }
}
