@import '../common/_utils/style/mixins/mixins.scss';

@include b(identify) {
  list-style: none;
  margin: 0;
  padding: 10px 15px;
  max-height: 170px;
  width: 280px;
  overflow: auto;
  font-size: 14px;
  background: transparent;
  @include e(body) {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
  }
  @include e(left) {
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  @include e(right) {
    margin-left: 10px;
    width: calc(60% - 10px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
