@import '../../../../../common/_utils/style/mixins/mixins.scss';
@import '../../../../../common/_utils/style/theme/theme.scss';
@import '../../../../../common/collapse-card/style/collapse-card.scss';
@import '../../../../../common/card/style/card.scss';
@import '../../../../../common/collapse/style/collapse.scss';

@include b(legend) {
  $legend-prefix: &;
  $card-prefix: #{$ant-prefix}-card;
  $collapse-prefix: #{$ant-prefix}-collapse;
  $card-collapse-prefix: #{$ant-prefix}-collapse-card;

  overflow-y: auto;
  border: none;
  min-width: 30px;
  min-height: 30px;

  .#{$card-collapse-prefix}__content {
    box-shadow: none;
    max-height: 400px;
  }
  .#{$card-prefix} {
    height: 100%;
    background: transparent;
    color: inherit;
    font-size: inherit;
  }
  .#{$card-prefix}-body {
    padding: 0px;
    height: 100%;
  }

  @include e(table) {
    border-top: none;
  }

  @include e(noBorder) {
    max-width: none;
    height: 100%;
    padding-right: 15px;
    border-bottom: 1px solid $border-color-split;
    margin-bottom: 5px;
    padding-bottom: 5px;
    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    #{$legend-prefix}__title {
      padding-bottom: 10px;
    }
  }

  @include e(themefield) {
    padding-bottom: 10px;
  }

  @include e(fieldvalue) {
    margin-left: 8px;
  }

  .is-not-header {
    &.is-top-left,
    &.is-bottom-left {
      .#{$collapse-prefix} {
        .#{$collapse-prefix}-item {
          padding-left: 30px;
        }
        .#{$collapse-prefix}-content {
          margin-left: -30px;
        }
        .#{$collapse-prefix}-content-box {
          padding-left: 16px;
        }
      }
    }
    &.is-top-right,
    &.is-bottom-right {
      .#{$collapse-prefix} {
        .#{$collapse-prefix}-item {
          padding-right: 30px;
        }
        .#{$collapse-prefix}-content {
          margin-right: -30px;
        }
        .#{$collapse-prefix}-content-box {
          padding-right: 16px;
        }
      }
    }
  }

  @include e(panel) {
    .#{$collapse-prefix}-header {
      display: none;
    }
  }

  .#{$collapse-prefix} {
    border: 0;
    background: transparent;
    color: inherit;
    font-size: inherit;
    .#{$collapse-prefix}-item {
      border-bottom: none;
      padding: 0px 16px 0;
      &:last-child {
        .#{$collapse-prefix}-header {
          border-bottom: none;
          border-radius: 0;
        }
        &.#{$collapse-prefix}-item-active {
          .#{$collapse-prefix}-header {
            border-bottom: 1px solid $border-color-split;
          }
        }
      }
      .#{$collapse-prefix}-header {
        color: inherit;
        border-bottom: 1px solid $border-color-split;
        padding: 6px 0;
        line-height: 20px;
        .header-wrap {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-right: 8px;
        }
      }
    }
  }
  .#{$collapse-prefix}-content {
    background: $collapse-card-secondary-bg;
    margin: 0 -16px;
    padding: 7px 16px;
    border-top: none;
    color: inherit;
    .#{$collapse-prefix}-content-box {
      padding: 0;
      @include e(wrap) {
        height: 100%;
        min-width: 80px;
      }

      @include e(item) {
        list-style: none;
        display: flex;
        align-items: center;
        margin: 8px 0 16px;
        > i {
          font-size: 14px;
        }
      }

      @include e(title) {
        width: 85%;
        & + i {
          font-size: inherit;
        }
      }
    }
  }

  @include e(linearcolor) {
    height: 10px;
  }

  @include e(colorstop colorfieldrange) {
    position: relative;
    height: 15px;
  }

  @include e(colorstop) {
    .color-stop-holder {
      position: absolute;
      width: 10px;
      cursor: not-allowed;
      opacity: 0.25;
    }
    .color-arrow {
      width: 0;
      height: 0;
      border-right: 5px solid transparent;
      border-bottom: 4px solid #d9d9d9;
      border-left: 5px solid transparent;
    }
    .color-value {
      width: 10px;
      height: 8px;
      border: 1px solid #d9d9d9;
    }
  }

  @include e(colorfieldrange) {
    .color-field-holder {
      position: absolute;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 80px;
      margin-left: 2px;
    }
  }
}
