@import '../../../../../common/_utils/style/mixins/mixins.scss';

@include b(legend) {
  overflow-y: auto;
  border: none;
  color: #fff;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: rgba(245, 245, 245, 0);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(128, 128, 128);
  }
  .sm-component-card__content {
    box-shadow: unset;
    max-height: 400px;
  }
  .ant-card {
    height: 100%;
  }
  .ant-card-body {
    padding: 0px;
    height: 100%;
  }
  .sm-component-card__icon + .sm-component-card__content {
    .ant-collapse-item {
      &:last-child {
        .header-wrap {
          margin-bottom: 10px;
        }
      }
    }
    .ant-collapse-content-box {
      padding-right: 30px;
    }
  }
  @include e(table) {
    border-top: none;
  }

  @include e(noBorder) {
    // width: 200px;
    background: none;
    // color: #333;
    font-weight: 400;
    height: 100%;
    padding-right: 15px;
  }
  .ant-collapse-header {
    font-size: $--text-regular;
    background: transparent;
    .header-wrap {
      padding-right: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .ant-collapse {
    border: 0;
    background: transparent;
    .ant-collapse-item {
      &.ant-collapse-item-active {
        padding-bottom: 12px;
        .ant-collapse-header {
          padding-bottom: 0;
        }
      }
      &:last-child {
        border-bottom-color: transparent;
      }
    }
  }
  .ant-collapse-content {
    background: transparent;
    &.ant-collapse-content {
      border-top-color: transparent;
      .ant-collapse-content-box {
        overflow-y: auto;
        &::-webkit-scrollbar {
          width: 6px;
          height: 6px;
          background-color: rgba(245, 245, 245, 0);
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background-color: rgb(128, 128, 128);
        }
      }
    }
    .ant-collapse-content-box {
      padding: 0 8px;
      @include e(wrap) {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        min-width: 160px;
        min-width: max-content;
        & > div, & > ul {
          display: inline-block;
        }
      }
      @include e(range-item rank-item) {
        height: 30px;
        & > div, & > span, & > i {
          display: inline-block;
          vertical-align: middle;
        }
        & > div {
          width: 40px;
          height: 100%;
        }
        & > span {
          margin-left: 2px;
          max-width: 200px;
        }
      }

      @include e(heatbox) {
        display: flex !important;
        overflow: hidden;
      }

      @include e(heat) {
        width: 40px;
        height: 150px;
      }

      @include e(heatText) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
      }

      @include e(point) {
        padding: 0;
        margin: 0;
        max-height: 200px;
      }

      @include e(item) {
        list-style: none;
        height: 30px;
      }

      @include e(field-value) {
        margin-left: 20px;
        max-width: 200px;
      }

      @include e(themefield) {
        font-size: 12px;
        margin-left: 30px;
        margin-bottom: 4px;
        max-width: 250px;
      }

      @include e(title) {
        max-width: 250px;
        & + i {
         margin-left: 5px;
        }
      }
    }
  }
}
