.DS_Store
.history
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/
/build/
/config/
/demo/
/docs/

/dist/leaflet/
/dist/mapboxgl/

/static/libs/Cesium/
/static/libs/iclient-leaflet/
/static/mbgl-index.js
/static/leaflet-index.js

/src/classic/
/src/leaflet/
/src/openlayers/
/src/mapboxgl/tsconfig.json
/src/mapboxgl/package.json

.git
.editorconfig
.eslintignore
.eslintrc.js
.npmrc
.prettierrc
babel.config.js
index.html
jest.config.js

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
package-lock.json
