@import "./mixins/mixins.scss";
@import "./common/var.scss";

@include b(card) {
  position: relative;
  overflow: visible;
  @include e(icon) {
    z-index: 100;
    background: $--icon-color-fill-base;
    border: $--border-base;
    color: $--color-text-regular;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    padding: 6px;
    font-size: 16px;
    width: 30px;
    height: 30px;
    position: absolute;
    &:hover {
      background: #ffffff;
      border-color: $--border-color-hover;
      color: $--color-primary;
    }
    @include when(click-in) {
      @include when(top-right) {
        position: relative;
        float: right;
      }
      @include when(bottom-right) {
        position: relative;
        float: right;
      }
      @include when(top-left) {
        position: relative;
        float: left !important;
      }
      @include when(bottom-left) {
        position: relative;
        float: left !important;
      }
    }
    @include when(click-out) {
      position: absolute;
    }
    @include when(top-left) {
      top: 0;
      left: 0;
      & .sm-widget-card__widget-icon.is-auto-rotate {
        transform: rotate(45deg);
      }
    }
    @include when(bottom-left) {
      top: 0;
      left: 0;
      & .sm-widget-card__widget-icon.is-auto-rotate {
        transform: rotate(45deg);
      }
    }
    @include when(top-right) {
      top: 0;
      right: 0;
      & .sm-widget-card__widget-icon.is-auto-rotate {
        transform: rotate(135deg);
      }
    }
    @include when(bottom-right) {
      top: 0;
      right: 0;
      & .sm-widget-card__widget-icon.is-auto-rotate {
        transform: rotate(135deg);
      }
    }
  }
 
  @include e(header) {
    border-bottom: 1px solid #e9e9e9;
    color: #595959;
    font-size: 15px;
    background: #fafafa;
    font-weight: 700;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @include e(header-name) {
    display: inline-block;
    text-align: center;
  }
  @include e(header-span) {
    display: inline-block;
    padding-left: 10px;
    font-size: $--text-primary;
    font-weight: 700;
  }
  @include e(content) {
    width: $--widget-container-width;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
    background: $--fill-base;
    transition: all 0.5s;
    position: relative;
    .el-card.is-always-shadow {
      box-shadow: none;
    }
    &.sm-widget-zoom-in-enter-to,
    &.sm-widget-zoom-in-leave {
      opacity: 1;
      transform: scale(1);
    }
    &.sm-widget-zoom-in-enter,
    &.sm-widget-zoom-in-leave-active {
      opacity: 0;
      transform: scale(0);
    }
    @include when(top-left) {
      @include when(icon) {
        & > .sm-widget-card__header {
          padding-left: 38px;
        }
      }
      transform-origin: top left;
    }
    @include when(bottom-left) {
      @include when(icon) {
        & > .sm-widget-card__header {
          padding-left: 38px;
        }
      }
      transform-origin: top left;
    }
    @include when(bottom-right) {
      transform-origin: top right;
    }
    @include when(top-right) {
      transform-origin: top right;
    }
  }
}
