@import "./mixins/mixins.scss";

@include b(layer-list) {
  overflow-y: auto;
  z-index: 10;
  max-height: 500px;
  width: $--widget-container-width;
  .el-card__body {
    padding: 10px 15px 22px;
    // background: transparent;
  }
  @include e(content) {
    width: 100%;
    height: 100%;
  }
  @include e(collapse) {
    border: none;
  }
  @include e(el-card ) {
    border-radius: 0;
    border: none;
  }

  @include e(collapseitem) {
    // box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 4px;
    background: transparent;
    border-bottom: 1px solid #ececec;
    .el-collapse-item__header, .el-card__body {
      padding: 8px 5px;
    }
    .el-collapse-item__header {
      border-bottom: none;
      font-size: 14px;
      // padding-left: 20px;
      background: transparent;
      .el-icon-view {
        font-size: 16px;
        margin-right: 8px;
      }
      .visible {
        color: $--color-primary;
      }
      .none {
        color: #c0c4cc;
      }
    }
    .el-collapse-item__wrap {
      border-bottom: none;
      background: transparent;
      .el-collapse-item__content {
        line-height: 3;
        overflow: hidden;
        .el-checkbox {
          float: left;
          margin-left: 36px;
        }
      }
    }
  }

  @include e(elcarditem) {
    position: relative;
    border: none;
    border-bottom: 1px solid #ececec;
    border-radius: 0;
    background: transparent;
    box-shadow: none !important;
    .el-card__body {
      padding: 8px 5px;
      height: 32px;
      line-height: 32px;
      font-size: 14px;
      display: flex;
      align-items: center;
      .el-icon-view {
        font-size: 16px;
        margin-right: 12px;
        cursor: pointer;
      }
    }
  }

  @include e(layergroupname) {
    width: 200px;
  }
}
