@import "./mixins/mixins.scss";

@include b(legend) {
  max-height: 400px;
  overflow-y: auto;
  border: none;
  color: #fff;
  .el-card__header {
    font-weight: 700;
    font-size: $--text-primary;
    padding: 8px 20px;
    border: none;
  }
  .el-card__body{
    padding: 0px;
  }
  @include e(table){
    border-top: none;
  }
  .el-collapse-item__header{
    font-size: $--text-regular;
    
    @include e(title){
      margin-left: 35px;
    }
  }
  .el-collapse-item__wrap{
  .el-collapse-item__content {
    padding-bottom: 0px;
    margin-left: 8px;
    @include e(range) {
      width: 40px;
      margin-left: 35px;
    }
    @include e(range-item) {
      position: relative;
      height: 30px;
      span {
        position: absolute;
        left: 42px;
        top: 6px;
        width: 120px;
      }
    }
    @include e(heat) {
      width: 40px;
      height: 150px;
      position: relative;
      margin-left: 35px;
    }

    @include e(top) {
      position: absolute;
      left: 44px;
      top: 0px;
      width: 50px;
    }
    @include e(bottom) {
      position: absolute;
      left: 44px;
      bottom: 0px;
      width: 50px;
    }

    @include e(point) {
      padding: 0;
      margin-left: 35px;
      overflow-y: auto;
      max-height: 200px;
    }

    @include e(item) {
      padding-left: 6px;
      list-style: none;
      height: 30px;
    }

    @include e(field-value) {
      margin-left: 20px;
    }

    @include e(themefield) {
      font-size: 12px;
      margin-left: 30px;
      margin-bottom: 4px;
    }
  }
  }
}