@import "./mixins/Mixins.scss";

@include b(time-text) {
  background: $--fill-base;
  display: table;
  padding: 10px;
  text-align: center;
  & > span {
    display: table-cell;
    vertical-align: middle;
  }
}
