@import '../../../../common/_utils/style/mixins/mixins.scss';
@import '../../../../common/_utils/style/theme/theme.scss';
@import '../../../../common/tree/style/tree.scss';

@include b(tdtStatisticsResults) {
  $tree-prefix: #{$ant-prefix}-tree;
  padding-bottom: 10px;
  .title, .more-cities {
    padding: 10px 16px 5px;
    padding-bottom: 5px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 16px;
      right: 16px;
      height: 1px;
      border-bottom: 1px solid $border-color-split;
    }
  }
  .title {
    &.without-split-line {
      padding-bottom: 0;
      &::after {
        display: none;
      }
    }
  }
  .content {
    .#{$tree-prefix} {
      &.#{$tree-prefix}-show-line {
        ul {
          list-style: none;
        }
        li {
          &:not(:last-child):before {
            border-left-color: transparent;
          }
          .#{$tree-prefix}-switcher {
            background: transparent;
            color: inherit;
          }
          .#{$tree-prefix}-node-content-wrapper {
            &:hover {
              background: transparent;
            }
          }
        }
      }
    }
    .city-item {
      a {
        white-space: nowrap;
        color: $primary-color;
        &:link,
        &:visited,
        &:hover,
        &:active {
          text-decoration: none;
        }
      }
    }
    .priority-cities {
      overflow: hidden;
      .city-item {
        float: left;
        padding: 6px 16px;
        width: 35%;
        box-sizing: content-box;
      }
    }

    .more-cities {
      cursor: pointer;
      overflow: hidden;
      span, i {
        display: inline-block;
        vertical-align: middle;
      }
      i {
        margin-left: 2px;
        font-size: 12px;
        float: right;
      }
    }

    .cities-group {
      .results {
        padding: 6px 16px 0 10px;
        ul {
          li {
            font-size: 12px;
            padding-top: 0;
            padding-bottom: 0;
          }
          .#{$tree-prefix}-node-content-wrapper.#{$tree-prefix}-node-selected {
            background-color: transparent;
          }
        }
      }
    }
  }
}
