@import "../../_utils/style/mixins/mixins.scss";
@import '../../_utils/style/theme/theme.scss';

@include b(message) {
  &-notice-content {
    background: $message-background;
    color: $text-color-active;
  }

  &-error .#{$iconfont-css-prefix} {
    color: $error-color;
  }

  &-warning .#{$iconfont-css-prefix} {
    color: $warning-color;
  }
}
