@import '../../../../../common/_utils/style/mixins/mixins.scss';
@import '../../../../../common/_utils/style/theme/theme.scss';
@import '../../../../../common/collapse-card/style/collapse-card.scss';
@import '../../../../../common/card/style/card.scss';
@import '../../../../../common/collapse/style/collapse.scss';

@include b(layer-list) {
  $layer-list-prefix: &;
  $collapse-prefix: #{$ant-prefix}-collapse;

  z-index: 10;
  @include e(content) {
    width: 100%;
    height: 100%;
    overflow: auto;
    >div {
      min-width: 220px;
      padding-left: 8px;
      position: relative;
    }
    .#{$collapse-prefix} {
      background: transparent;
      border-radius: 0;
      color: inherit;
    }
    .sm-component-tree li ul {
      padding-left: 20px;
    }
    & .sm-component-tree li span.sm-component-tree-switcher {
      position: relative;
      z-index: 1;
      width: 16px;
      height: 16px;
      line-height: 16px;
      vertical-align: middle;
      margin-right: 4px;
      i {
        font-size: 16px !important;
        font-weight: normal !important;
      }
      &.sm-component-tree-switcher_open {
        rotate: 90deg;
      }
    }
    & .sm-component-tree li .sm-component-tree-node-content-wrapper {
      width: calc(100% - 20px);
      height: auto;
      padding: 0;
      &::before {
        position: absolute;
        right: 0;
        left: 0;
        height: 32px;
        transition: all .3s;
        transform: translateY(-6px);
        content: "";
      }
      &:hover, &.sm-component-tree-node-selected {
        background-color: transparent;
      }
      &:hover::before{
        background-color: $tree-node-selected-bg;
      }
    }
    & .sm-component-tree-treenode-selected {
      >span.sm-component-tree-node-content-wrapper::before {
        background-color: $tree-node-selected-bg;
      }
    }
    & .sm-component-tree-child-tree-open {
      display: list-item;
    }
    & .sm-component-tree-title .header-text {
      display: inline-flex;
      width: 100%;
      position: relative;
      z-index: 1;
    }
    & .icon-buttons-visible {
      visibility: visible;
    }
    & .icon-buttons-hidden {
      visibility: hidden;
    }
    & .sm-component-tree-title .header-text .icon-buttons{
      display: flex;
      justify-content: flex-end;
      width: 96px;
      margin-left: 16px;
      & i {
        margin-right: 0px;
        font-size: 16px;
      }
      & div {
        margin-right: 8px;
      }
      & .highlight-icon:hover {
        color: $primary-5
      }
    }
    & .opacity-style {
      display:flex;
      align-items:center;
      width: 80%;
      padding-left: 24px;
      font-size: 12px;
      height: 20px;
      line-height: 20px;
      position: relative;
      margin-top: 8px;
      &::before {
        position: absolute;
        left: 8px;
        top: 0;
        content: "";
        height: 14px;
        width: 8px;
        border: 1px solid $border-color-split;
        border-top: none;
        border-right: none;
      }
    }
  }
  @include e(a-card) {
    padding-top: 4px;
    border-radius: 4px;
    background: transparent;
    > div {
      padding: 0;
    }
  }

  @include e(collapse) {
    &.#{$collapse-prefix} {
      > .#{$collapse-prefix}-item {
        border-bottom: none;
        > .#{$collapse-prefix}-header {
          color: inherit;
        }
        .#{$collapse-prefix}-content {
          max-height: 400px;
          overflow-y: auto;
          background-color: $collapse-card-secondary-bg;
          margin: 0 -16px;
          padding: 0 16px 0 8px;
        }
        .#{$collapse-prefix}-content-box {
          padding-bottom: 4px;
          padding-right: 0;
        }
      }
    }
    .#{$collapse-prefix}-header {
      padding: 6px 0 !important;
      border-bottom: 1px solid $border-color-split;
    }
    &:last-child {
      .#{$collapse-prefix}-header{
        border-bottom-color: transparent;
      }
    }

    .#{$iconfont-class-prefix}-hidden {
      color: $disabled-color;
    }
    #{$layer-list-prefix}__sourcelayeritem,
    .header-wrap {
      display: flex;
      align-items: center;
      font-size: 12px;
      line-height: 20px;
      i {
        font-size: 12px;
        cursor: pointer;
        &:first-child {
          margin-right: 9px;
          font-size: 14px;
        }
      }
      .header-text {
        & > i,
        & > span {
          vertical-align: middle;
        }
        & > span {
          width: calc(100% - 112px);
          display: inline-block;
          font-size: 12px;
        }
      }
    }
  }
  @include e(disabled) {
    color: $disabled-color !important;
  }
  .sm-components-icon-attribute, .sm-components-icon-not-active {
    color: $text-color;
  }
  .sm-components-icon-attribute-open, .sm-components-icon-active {
    color: $primary-5;
  }
}
