@import '../../../../../common/_utils/style/mixins/mixins.scss';
@import '../../../../../common/_utils/style/theme/theme.scss';
@import '../../../../../common/collapse-card/style/collapse-card.scss';
@import '../../../../../common/card/style/card.scss';
@import '../../../../../common/collapse/style/collapse.scss';

@include b(layer-list) {
  $layer-list-prefix: &;
  $collapse-prefix: #{$ant-prefix}-collapse;

  z-index: 10;
  @include e(content) {
    width: 100%;
    min-width: 220px;
    height: 100%;
    padding: 0 16px;
    .#{$collapse-prefix} {
      background: transparent;
      border-radius: 0;
      color: inherit;
    }
    & .sm-component-tree li span.sm-component-tree-switcher {
      position: absolute;
      right: 0px;
      top: 4px;
      }
    & .sm-component-tree > li:first-child > span.sm-component-tree-switcher {
      top: 7px;
    }
    & .sm-component-tree-child-tree > li:first-child > span.sm-component-tree-switcher{ 
      top: 8px;
    }
    & .sm-component-tree li {
      position: relative;
    }
    & .sm-component-tree li span.sm-component-tree-switcher.sm-component-tree-switcher-noop {
      display: none;
    }
    & .sm-component-tree-child-tree-open {
      display: list-item;
    }
    & .sm-component-tree li .sm-component-tree-node-content-wrapper {
      display: block;
      width: 100%;
      height: auto;
      border-top: 2px transparent solid;
      border-bottom: 2px transparent solid;
    }
    & .sm-component-tree-title {
      display: block;
    }
    & .sm-component-tree-title .header-text {
      display: inline-flex;
      width: 100%;
    }
    & .icon-buttons-visible {
      visibility: visible;
    }
    & .icon-buttons-hidden {
      visibility: hidden;
    }
    & .sm-component-tree-title .header-text .icon-buttons{
      display: flex;
      justify-content: flex-end;
      width: 60px;
      & i {
        margin-right: 0px;
      }
      & div {
        margin-right: 9px;
      }
      & div:last-child {
        margin-right: 0px;
      }
      &.icon-buttons-in-group div{
        margin-right: 12px;
      }
      & .highlight-icon:hover {
        color: $primary-5
      }
    }
    & .opacity-style {
      display:flex;
      align-items:center;
      width: 100%;
      padding-left: 23px;
      font-size: 12px;
    }
  }
  @include e(a-card) {
    padding-top: 4px;
    border-radius: 4px;
    background: transparent;
    > div {
      padding: 0;
    }
  }

  @include e(collapse) {
    &.#{$collapse-prefix} {
      > .#{$collapse-prefix}-item {
        border-bottom: none;
        > .#{$collapse-prefix}-header {
          color: inherit;
        }
        .#{$collapse-prefix}-content {
          max-height: 400px;
          overflow-y: auto;
          background-color: $collapse-card-secondary-bg;
          margin: 0 -16px;
          padding: 0 16px 0 8px;
        }
        .#{$collapse-prefix}-content-box {
          padding-bottom: 4px;
          padding-right: 0;
        }
      }
    }
    .#{$collapse-prefix}-header {
      padding: 6px 0 !important;
      border-bottom: 1px solid $border-color-split;
    }
    &:last-child {
      .#{$collapse-prefix}-header{
        border-bottom-color: transparent;
      }
    }

    .#{$iconfont-class-prefix}-visible {
      color: $primary-color;
    }
    .#{$iconfont-class-prefix}-hidden {
      color: $disabled-color;
    }
    #{$layer-list-prefix}__sourcelayeritem,
    .header-wrap {
      display: flex;
      align-items: center;
      font-size: 12px;
      line-height: 20px;
      i {
        font-size: 12px;
        cursor: pointer;
        &:first-child {
          margin-right: 9px;
          font-size: 14px;
        }
      }
      .header-text {
        & > i,
        & > span {
          vertical-align: middle;
        }
        & > span {
          width: calc(100% - 85px);
          display: inline-block;
          font-size: 12px;
        }
      }
    }
  }
  @include e(disabled) {
    color: $disabled-color !important;
  }
  .sm-components-icon-attribute, .sm-components-icon-not-active {
    color: $text-color;
  }
  .sm-components-icon-attribute-open, .sm-components-icon-active {
    color: $primary-5;
  }
}
