@import '../../../../../common/_utils/style/mixins/mixins.scss';
@import '../../../../../common/_utils/style/theme/theme.scss';

@include b(identify) {
  border-radius: 4px;
  @include e(content) {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 4px;
    overflow: auto;
    font-size: 14px;
    max-height: 200px;
    background: transparent;
    li {
      > div {
        padding: 4px 16px;
      }
    }
    .content .ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  @include e(custom) {
    .content {
      display: flex;
    }
  }
  @include e(auto) {
    border-collapse: separate;
    .content {
      display: table-row;
      .left {
        display: table-cell;
      }
      .right {
        display: table-cell;
      }
    }
  }
  &:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
  }
}
