@import '../../../../../common/_utils/style/mixins/mixins.scss';
@import '../../../../../common/_utils/style/common/var.scss';

@include b(query-click) {
  list-style: none;
  margin: 0;
  padding: 10px 15px;
  max-height: 170px;
  width: 280px;
  overflow: auto;
  font-size: 14px;
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: $--fill-base;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #bbb;
  }
  @include e(body) {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
  }
  @include e(left) {
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  @include e(right) {
    margin-left: 10px;
    width: calc(60% - 10px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.sm-mapboxgl-identify-popup {
  .mapboxgl-popup-content {
    padding: 0;
    background: transparent;
  }
  .mapboxgl-popup-close-button {
    color: #dfd4d4;
    font-size: 15px;
  }
}
