@import '../../_utils/style/mixins/mixins.scss';
@import 'mixin.scss';

@include b(select) {
  $prefix: &;
  $--normal-bg-color: var(--normal-bg-color);
  $--focus-border-color: var(--focus-border-color);
  $--box-shadow-color: var(--box-shadow-color);
  $--dropdown-bg-color: var(--dropdown-bg-color);
  $--dropdown-box-shadow: var(--dropdown-box-shadow);
  $--selected-bg-color: var(--selected-bg-color);
  $--selected-text-color: var(--selected-text-color);
  $--disabled-border-color: var(--disabled-border-color);
  $--hover-bg-color: var(--hover-bg-color);
  $--selected-icon-text-color: var(--selected-icon-text-color);

  @include e(focused, '-') {
    &-selection {
      @include select-focus-color($--focus-border-color, $--box-shadow-color);
    }
  }

  @include e(selection, '-') {
    background-color: $--normal-bg-color;
    @include select-focus-color($--focus-border-color, $--box-shadow-color);
  }

  @include e(dropdown, '-') {
    $prefix-dropdown: &;

    background-color: $--dropdown-bg-color;
    box-shadow: $--dropdown-box-shadow;
    &#{$prefix-dropdown}--multiple {
      #{$prefix-dropdown}-menu-item {
        &:hover {
          #{$prefix}-selected-icon {
            color: $--selected-icon-text-color;
          }
        }
      }
    }
  }

  @include e(dropdown-menu-item, '-') {
    &:hover:not(&-disabled) {
      background-color: $--hover-bg-color;
    }
    &:focus {
      outline: 0;
    }
    &-selected {
      color: $--selected-text-color;
      &, &:hover:not(&-disabled) {
        background-color: $--selected-bg-color;
      }
      &:focus {
        outline: 0;
      }
    }
    &-active:not(&-disabled) {
      background-color: $--selected-bg-color;
    }
  }

  @include e(disabled, '-') {
    #{$prefix}-selection {
      &,
      &:hover,
      &:focus,
      &:active,
      &.active {
        border-color: $--disabled-border-color;
      }
    }
  }
}
