@import '../../../../../common/_utils/style/mixins/mixins.scss';
@import '../../../../../common/_utils/style/theme/theme.scss';
@import "../../../../../common/collapse-card/style/collapse-card.scss";
@import '../../../../../common/select/style/select.scss';

@include b(measure) {

  @include e(panel) {
    padding: 16px;
    cursor: default;
  }
  @include e(panelContent) {
    position: relative;
    width: 100%;
    text-align: center;
    // overflow: hidden;
  }
  @include e(modeWrap) {
    text-align: left;
    font-size: 0;
    padding: 10px 0;
  }


  @include e(title) {
    font-size: $--text-primary;
    font-weight: 600;
  }

  @include e(modeIcon) {
    width: 40px;
    height: 28px;
    display: inline-block;
    line-height: 25px;
    text-align: center;
    font-size: 22px;
    vertical-align: middle;
    &:first-child {
      border-radius: 4px 0px 0px 4px;
      margin-right: 1px;
    }
    &:nth-child(2) {
      border-radius: 0px 4px 4px 0px;
    }
    @include when(active) {
      background: $primary-color !important;
    }
    i {
      cursor: pointer;
      font-size: $--text-regular;
    }
  }

  @include e(unit) {
    vertical-align: middle;
    width: 142px;
    position: relative;
    margin-left: 8px;
    &,
    .sm-component-select-selection--single {
      height: 28px;
    }
    .sm-component-select-selection__rendered {
      line-height: 28px;
    }
  }

  @include e(default) {
    font-size: 14px;
    display: inline-block;
    height: 28px;
    line-height: 28px;
  }

  @include e(calculateResult) {
    border-top: 1px solid $border-color-split;
    margin-top: 16px;
  }

  @include e(calcuTitle) {
    font-size: 12px;
    padding: 12px 0;
  }

  @include e(result) {
    color: $text-color;
    font-size: 14px;
  }
}
.sm-component-measure__popup {
  .mapboxgl-popup-content {
    padding: 6px 10px 6px;
  }
}
