@import '../../_utils/style/mixins/mixins.scss';
@import '../../_utils/style/theme/theme.scss';

@include b(text) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  padding: 4px;
  color: $text-color;
  background: $component-background;
  @include e(href) {
    display: inline-block;
    color: $text-color;
    &:hover {
      cursor: pointer;
      color: $hover-color !important;
    }
  }
  @include e(span) {
    white-space: pre-wrap;
  }
}
