@use '../../common/theme-chalk/mixins/mixins.scss' as *;
@use '../../common/theme-chalk/base/theme.scss' as *;
@import '@supermapgis/common/theme-chalk/table.scss';

@include b(attributes) {
  $attributes-prefix: &;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .#{$ant-prefix}-table {
    color: inherit;
    background: inherit;
  }
  .#{$ant-prefix}-table-wrapper {
    overflow: auto;
    height: calc(100% - 46px);
    &::-webkit-scrollbar-thumb {
      background: $scrollbar-bg;
    }
    .#{$ant-prefix}-table-thead {
      .#{$ant-prefix}-table-column-has-actions {
        .#{$ant-prefix}-table-column-title {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: block;
        }
        .#{$ant-prefix}-table-column-sorters {
          display: block;
          .#{$ant-prefix}-table-column-sorter {
            position: absolute;
            right: 4px;
            top: 50%;
            margin-top: -6px;
          }
        }
      }
      tr > th {
        color: inherit;
        background: inherit;
        padding: 6px 6px;
        &.#{$ant-prefix}-table-column-sort {
          background: $gis-control-item-bg-hover;
        }
        &.#{$ant-prefix}-table-column-has-sorters {
          &:hover {
            background: $gis-control-item-bg-hover;
          }
        }
      }
      tr > th .anticon-filter,
      tr > th .#{$ant-prefix}-table-filter-icon {
        right: 15px;
        display: flex;
        align-items: center;
      }
      > tr > th.#{$ant-prefix}-table-column-has-actions {
        &.#{$ant-prefix}-table-column-has-filters {
          .anticon-filter.#{$ant-prefix}-table-filter-open,
          .#{$ant-prefix}-table-filter-icon.#{$ant-prefix}-table-filter-open {
            background: $gis-control-item-bg-hover;
          }
          &:hover {
            .#{$ant-prefix}-table-filter-icon:hover {
              background: $gis-control-item-bg-hover;
            }
          }
        }
        &.#{$ant-prefix}-table-column-has-sorters:hover {
          .#{$ant-prefix}-table-filter-icon {
            background: transparent;
          }
        }
        .#{$ant-prefix}s-icon-search:before {
          padding: 7px;
        }
      }
    }
    .#{$ant-prefix}-table-tbody {
      > tr {
        & > td {
          width: 128px;
          padding: 6px 6px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
    .#{$ant-prefix}-checkbox-inner {
      background-color: inherit;
    }
  }
  .#{$ant-prefix}-table-custom-filter-dropdown {
    font-size: 0;
    padding: 8px;
  }
  @include e(header) {
    height: 30px;
    margin: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include e(count) {
    margin-left: 15px;
    > span {
      margin-right: 8px;
      font-size: 16px;
      font-weight: 500;
    }
  }
  @include e(menu) {
    .#{$ant-prefix}-icon:hover {
      color: $primary-color !important;
    }
    
  }
  @include e(dropdown-menu) {
    .#{$ant-prefix}-dropdown-menu-submenu-title > span > .anticon:first-child {
      margin-right: 0;
    }
  }
  .#{$ant-prefix}-dropdown-link {
    cursor: pointer;
  }
}