@use '@supermapgis/common/theme-chalk/mixins/mixins' as *;
@use '@supermapgis/common/theme-chalk/base/theme.scss' as *;

@include b(attribute-popup) {
  padding: 0;
  width: 280px;
  .ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  i {
    cursor: pointer;
  }
  .header {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    min-height: 38px;
    padding: 0 8px;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid $border-color-split;
    .title {
      width: 100%;
      margin-left: 4px;
      font-size: 12px;
    }
    .switchDataText {
      display: inline-flex;
      padding: 8px 0px;
      margin-right: 10px;
      span {
        vertical-align: 3px;
      }
      .icon {
        font-size: 16px;
      }
      .left-icon {
        padding-right: 5px;
      }
      .right-icon {
        padding-left: 5px;
      }
      .disabled {
        color: $text-color-disabled;
      }
      > i:not(.disabled) {
        color: $primary-color;
      }
    }
    .identify-fields {
      margin-right: 10px;
      display: flex;
      align-items: center;
    }
  }

  .sm-identify-popup-content {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    min-height: 0px;
    max-height: 394px;
    padding: 0px 8px;
    .ant-divider-horizontal {
      margin: 8px 0;
      border-color: $border-color-split;
    }
    .sm-component-field-info {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 16px;
      padding: 4px 0;
      font-size: 12px;
      .name {
        width: 80px;
        padding-top: 2px;
        line-height: 16px;
        min-height: 22px;
        word-break: break-all;
      }
      .value {
        flex: 1;
        line-height: 16px;
        min-height: 22px;
        min-width: 10px;
        word-break: break-all;
      }
      .player {
        justify-content: start;
        .sm-player-loade-error{
          min-height: 100px;
          margin-left: -10px;
        } 
      }
    }
    .sm-compoent-ql {
      height: auto;
      .ql-editor {
        padding: 0;
      }
      a:-webkit-any-link {
        color: inherit;
      }
    }
    .player {
      display: flex;
      justify-content: center;
      max-width: 100%;
      max-height: 100%;
      .sm-component-image {
        width: 100%;
        height: 100%;
        img {
          height: auto;
          width: 100%;
          visibility: unset !important;
        }
        // max-height: 200px;
      }
      video {
        max-width: 100%;
        margin: 0 auto;
      }
      .sm-player-loade-error {
        display: flex;
        align-items: center;
        min-height: 150px;
        i {
          font-size: 80px;
          color: $text-color-disabled;
        }
      }
      
    }
    .sm-media-info {
      display: flex;
      flex-direction: column;
      flex: 1;
      .swiper-wrapper {
        align-items: center;
      }
      .swiper-button-prev,
      .swiper-button-next {
        width: 24px;
        height: 24px;
      }
      .pagination {
        margin: 8px 0 0px;
        font-size: 12px;
      }
      .title {
        margin-top: 4px;
        font-weight: 700;
        white-space: normal;
        word-break: break-all;
      }
      .swiper-slide {
        display: inline-flex;
        align-items: center;
        justify-content: center;
       }
    }
    > div {
      overflow: auto;
      margin-right: -8px;
      margin-bottom: -8px;
      min-height: 8px;
      max-height: 100%;
      padding: 8px 24px 12px;
    }
    .scrollbars {
      ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }
      ::-webkit-scrollbar-track {
        background-color: transparent;
      }
      ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 4px;
      }
      ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }
  
  .sm-component-popup__select-layer {
     width: 100%;
    .sm-component-layer-type {
      display: flex;
      align-items: center;
      cursor: auto;
    }
    .sm-component-layer-type:before {
      font-size: 25px;
      transform: scale(0.64);
    }
    .ant-card-head {
      min-height: 38px;
      padding: 0 8px;
      font-size: 14px;
      font-weight: 600;
      .ant-card-head-title {
        line-height: 38px;
        padding-right: 8px;
      }
    }
    .sm-components-icon-close {
      font-size: 14px;
    }
    .ant-card-body {
      padding: 8px 0;
     
      .sm-component-popup__select-layer-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px 0 8px;
        height: 28px;
        .sm-component-layer-next {
          font-size: 16px;
          margin-left: 32px;
          transform: rotate(180deg);
        }
        .sm-component-layer-name {
          width: 100%;
          margin-left: 4px;
          font-size: 12px;
        }
      }
      .sm-components-icon-arrow-right {
        display: none;
      }
      .sm-component-popup__select-layer-item:hover {
        .sm-components-icon-arrow-right {
          display: block;
        }
      }
    }
  }
}