.mapboxgl-ctrl button:not(:disabled):hover {
  background-color: var(--color-primary-hover);
}
.mapboxgl-map {
  font-family: inherit;
}

.mapboxgl-popup-anchor-top,
.mapboxgl-popup-anchor-top-left,
.mapboxgl-popup-anchor-top-right {
  .mapboxgl-popup-tip {
    border-bottom-color: var(--color-bg-elevated);
  }
}
.mapboxgl-popup-anchor-bottom,
.mapboxgl-popup-anchor-bottom-left,
.mapboxgl-popup-anchor-bottom-right {
  .mapboxgl-popup-tip {
    border-top-color: var(--color-bg-elevated);
  }
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: var(--color-bg-elevated);
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: var(--color-bg-elevated);
}
