@use '@supermapgis/common/theme-chalk/mixins/mixins' as *;
@use '@supermapgis/common/theme-chalk/base/theme.scss' as *;

@include b(compare) {
  position: relative;
  width: 100%;
  height: 100%;

  & > div:not(.mapboxgl-compare) {
    position: absolute;
    top: 0;

    @include position-row(left, 0, false, false);

    width: 100%;
    height: 100%;
  }

  & > .mapboxgl-compare {
    z-index: 999;
    user-select: none;
    background-color: $compare-swiper-background;
    width: 2px !important;
    height: 100% !important;

    .compare-swiper-vertical,
    .compare-swiper-horizontal {
      @include position-row(left, 50%, false, false);

      margin: 0;
      box-shadow: none;
      border: 2px solid;
      /* stylelint-disable-next-line */
      color: $compare-swiper-color;
      background-color: $primary-color;
      box-sizing: content-box;
      background-size: contain;
      background-image: none;

      @include text-align-transform(center, false);

      display: flex;
      align-items: center;
      justify-content: center;
      /* stylelint-disable-next-line */
      font-size: 19px;

      &::before {
        /* stylelint-disable-next-line */
        font-family: sm-components-icon- !important;
        content: '\e64a';
      }
    }

    .compare-swiper-horizontal {
      transform: translate(-50%, -50%) rotate(90deg);
    }

    .compare-swiper-vertical {
      @include transform-translate(-50%, -50%, false);
    }
  }
}
