@use '@supermapgis/common/theme-chalk/mixins/mixins' as *;
@use '@supermapgis/common/theme-chalk/base/theme.scss' as *;
@use '@supermapgis/common/theme-chalk/collapse-card';

@include b(draw) {
  @include e(panel) {
    padding: 16px;
    padding-right: 0;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 26%);
  }

  @include e(draw-item) {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 28px;
    /* stylelint-disable-next-line */
    line-height: 28px;
    text-align: center;
    cursor: pointer;

    &:hover {
      /* stylelint-disable-next-line */
      color: $primary-color-hover;
    }

    &:first-child {
      border-radius: 4px 0 0 4px;
    }

    &:nth-child(2) {
      margin: 0 1px;
    }

    &:nth-child(3) {
      border-radius: 0 4px 4px 0;
    }

    &:last-child {
      background-color: transparent !important;
    }

    i {
      /* stylelint-disable-next-line */
      font-size: 14px;
    }
  }

  @include e(draw-active) {
    /* stylelint-disable-next-line */
    color: #fff !important;
  }
}
