@use '@supermapgis/common/theme-chalk/mixins/mixins' as *;
@use '@supermapgis/common/theme-chalk/base/theme.scss' as *;

@include b(feature-tree) {
  padding: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;

  .searchHolder {
    margin-bottom: 10px;
  }

  .treeHolder {
    flex: 1;
    overflow: auto;
  }
}