@use '@supermapgis/common/theme-chalk/mixins/mixins' as *;
@use '@supermapgis/common/theme-chalk/base/theme.scss' as *;

@include b(feature-tree) {
  padding: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* stylelint-disable-next-line */
  line-height: 1.5;

  .searchHolder {
    margin-bottom: 10px;
  }

  .treeHolder {
    flex: 1;
    overflow: auto;
  }

  .ant-input, .ant-input-search-button, .sm-component-tree {
    background: inherit;
    color: inherit;
    line-height: inherit;
    font-family: inherit;
  }
}