@use '@supermapgis/common/theme-chalk/mixins/mixins' as *;
@use '@supermapgis/common/theme-chalk/base/theme.scss' as *;

@include b(scene-fly-to) {
  position: relative;
  z-index: 1;

  @include e(content) {
    width: 32px;
    height: 32px;
    border: none;
    padding: 0;
    border-radius: 4px;
    box-shadow: 0 3px 13px 0 $shadow-color;

    i {
      display: block;
      /* stylelint-disable-next-line */
      font-size: 18px;
    }
  }
}
