@use '@supermapgis/common/theme-chalk/mixins/mixins' as *;
@use '@supermapgis/common/theme-chalk/base/theme.scss' as *;
@use '@supermapgis/common/theme-chalk/collapse-card';
@use '@supermapgis/common/theme-chalk/card';
@use '@supermapgis/common/theme-chalk/color-picker';
@use '@supermapgis/common/theme-chalk/select';
@use '@supermapgis/common/theme-chalk/button';
@use '@supermapgis/common/theme-chalk/input';

@include b(scene-sunlight-analysis) {
  z-index: 1;
  width: 340px;
  height: 520px;
  /* stylelint-disable-next-line */
  color: $text-color-heading;
  /* stylelint-disable-next-line */
  font-size: 12px;

  .sm-component-card,
  .sm-component-select,
  .sm-component-select-selector,
  .sm-component-input,
  .sm-component-btn,
  .sm-component-radio-wrapper,
  .sm-component-picker {
    color: inherit;
    /* stylelint-disable-next-line */
    font-size: 12px;
  }

  .sm-component-btn-primary {
    /* stylelint-disable-next-line */
    color: $tooltip-color;
  }

  .sm-component-select .sm-component-select-selector,
  .sm-component-scene-sunlight-analysis__panel {
    background-color: transparent;
  }

  .sm-component-collapse-card__content {
    height: 100%;
  }

  .sm-component-collapse-card__body {
    height: calc(100% - 32px);
    overflow: hidden;
  }

  .sm-component-card-body {
    height: 100%;
    padding: 14px;
    overflow: auto;
    box-sizing: border-box;
  }

  @include e(panel) {
    height: 100%;
    padding: 0;
  }

  @include e(content) {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
  }

  @include e(item) {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 8px;
  }

  @include e(control) {
    width: 100%;
  }

  @include e(color-picker) {
    width: 100%;
  }

  @include e(color-table-wrap) {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }

  @include e(color-table-preview) {
    width: 100%;
  }

  @include e(color-table-select) {
    width: 100%;
  }

  @include e(color-table-item) {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  @include e(gradient-bar) {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    box-sizing: border-box;
  }
  
  @include e(slider-row) {
    display: flex;
    align-items: center;
    gap: 12px;

    .sm-component-slider {
      flex: 1;
      margin: 0;
    }
  }

  @include e(slider-value) {
    flex-shrink: 0;
    min-width: 60px;

    @include text-align-transform(right, false);
  }

  @include e(buttons) {
    display: flex;
    flex-shrink: 0;
    gap: 8px;

    .sm-component-btn {
      flex: 1;
    }
  }
}
