@use '@supermapgis/common/theme-chalk/mixins/mixins' as *;
@use '@supermapgis/common/theme-chalk/base/theme.scss' as *;
@use '@supermapgis/common/theme-chalk/collapse-card';
@use '@supermapgis/common/theme-chalk/select';
@use '@supermapgis/common/theme-chalk/table-popup';

@include b(measure) {
  z-index: 1;

  .measure-title,
  .ans-btn,
  .btn-secondary,
  .icon-span,
  .row-item,
  .btn-row-item span,
  .sm-component-card,
  .sm-component-checkbox-wrapper,
  .sm-component-select,
  .sm-component-select-selector {
    color: inherit;
  }

  .sm-component-select .sm-component-select-selector,
  .sm-component-checkbox:not(.sm-component-checkbox-checked) .sm-component-checkbox-inner,
  .measure-btn-group button,
  .sm-component-measure__a-card {
    background-color: transparent;
  }

  @include e(a-card) {
    background: transparent;
  }

  @include e(content) {
    display: flex;

    &-left {
      padding-right: 32px;
    }

    &-right {
      width: calc(100% - 88px);

      .icon-measure {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid $border-color-secondary;
        border-radius: 4px;
        margin: 12px 0;
        height: 30px;

        .icon-span {
          cursor: pointer;
        }

        .selected-icon i {
          /* stylelint-disable-next-line */
          color: $primary-color;
        }
      }

      .measure-checkbox-group {
        margin-bottom: 8px;
      }

      .measure-btn-group {
        display: flex;
        justify-content: space-between;

        .ans-btn,
        .btn-secondary {
          width: 48%;
          height: 30px;

          > span {
            white-space: nowrap;
          }

          &:focus {
            border-color: $border-color-split;
          }
        }
      }
    }
  }
}

.disabled-mapCanvas-pointer-events .measureCur {
  cursor: all-scroll;
}

.measureCur {
  cursor: crosshair;
}
