@use '@supermapgis/common/theme-chalk/mixins/mixins' as *;
@use '@supermapgis/common/theme-chalk/base/theme.scss' as *;

@include b(text-list) {
  width: 500px;
  height: 300px;
  overflow: hidden;
  background-color: transparent;
  position: relative;
  & > .#{$ant-prefix}-spin {
    position: absolute;
    top: 0;
    @include position-row(left, 0, false, false);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
    background: rgb(0 0 0 / 80%);
  }

  @include e(header) {
    /* stylelint-disable-next-line */
    color: #fff;
  }

  @include e(header-content) {
    display: flex;
    height: 100%;

    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      cursor: pointer;
      align-self: center;
      min-width: 5%;
      user-select: none;

      & > div {
        word-break: keep-all;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        @include spacing-padding(5px, right, false);
      }

      .arrow-wrap {
        display: inline-block;
        height: 34px;
        width: 20px;
        vertical-align: middle;
        cursor: pointer;
        overflow: initial;
        position: relative;

        .up-triangle {
          width: 0;
          height: 0;
          border: 5px solid transparent;
          position: absolute;
          @include position-row(left, 0, false, false);
          border-bottom-color: #fff;
          top: 5px;
        }

        .down-triangle {
          width: 0;
          height: 0;
          border: 5px solid transparent;
          position: absolute;
          @include position-row(left, 0, false, false);
          border-top-color: #fff;
          bottom: 6px;
        }
      }
    }
  }

  @include e(animate) {
    overflow-y: auto;
  }

  @include e(body-content) {
    @include m(anim) {
      transition: margin-top 0.3s linear;
    }
  }

  @include e(list) {
    width: 100%;
    display: flex;

    & > div {
      @include text-align-transform(center, false);
      flex: 1;
      display: block;
      justify-content: center;
      word-break: keep-all;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      align-self: center;
      min-width: 5%;
      cursor: pointer;
    }

    .sm-component-text-list__slot {
      display: flex;
    }

    .text-list_thresholds a {
      color: inherit;
    }
  }
}