@use '@supermapgis/common/theme-chalk/mixins/mixins' as *;
@use '@supermapgis/common/theme-chalk/base/theme.scss' as *;

@include b(text-list) {
  width: 500px;
  height: 300px;
  overflow: hidden;
  background-color: transparent;
  position: relative;
  & > .#{$ant-prefix}-spin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
  }
  @include e(header) {
    color: #fff;
  }
  @include e(header-content) {
    display: flex;
    height: 100%;
    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      cursor: pointer;
      align-self: center;
      min-width: 5%;
      user-select: none;
      & > div {
        word-break: keep-all;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: 5px;
      }
      .arrow-wrap {
        display: inline-block;
        height: 34px;
        width: 20px;
        vertical-align: middle;
        cursor: pointer;
        overflow: initial;
        position: relative;
        .up-triangle {
          width: 0;
          height: 0;
          border: 5px solid transparent;
          position: absolute;
          left: 0px;
          border-bottom-color: #fff;
          top: 5px;
        }
        .down-triangle {
          width: 0;
          height: 0;
          border: 5px solid transparent;
          position: absolute;
          left: 0px;
          border-top-color: #fff;
          bottom: 6px;
        }
      }
    }
  }
  @include e(animate) {
    overflow-y: auto;
  }

  @include e(body-content) {
    @include m(anim) {
      transition: margin-top 0.3s linear;
    }
  }

  @include e(list) {
    width: 100%;
    display: flex;
    & > div {
      text-align: center;
      flex: 1;
      display: block;
      justify-content: center;
      word-break: keep-all;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      align-self: center;
      min-width: 5%;
      cursor: pointer;
    }
    .sm-component-text-list__slot {
      display: flex;
    }
    .text-list_thresholds a {
      color: inherit;
    }
  }
}