@use '@supermapgis/common/theme-chalk/mixins/mixins' as *;
@use '@supermapgis/common/theme-chalk/base/theme.scss' as *;

@include b(web-map) {
  width: 100%;
  height: 100%;
  & > .#{$ant-prefix}-spin-nested-loading {
    position: absolute;
    top: 0;

    @include position-row(left, 0, false, false);

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
    background: rgb(0 0 0 / 80%);

    & > div {
      & > .#{$ant-prefix}-spin {
        max-height: 100%;

        .sm-component-spin-text {
          text-shadow: none;
        }
      }
    }
  }

  // 为了echarts的resize
  .echartMap {
    width: 100% !important;
    height: 100% !important;
  }

  .mapboxgl-canvas-container {
    width: 100% !important;
    height: 100% !important;
  }
}

.mapboxgl-ctrl-top-left {
  z-index: 3;

  .mapboxgl-ctrl {
    @include spacing-complate-margin(10px 0 0 16px, false);
  }
}

.mapboxgl-ctrl-top-right {
  z-index: 3;

  .mapboxgl-ctrl {
    @include spacing-complate-margin(10px 16px 0 0, false);
  }
}

.mapboxgl-ctrl-bottom-left {
  z-index: 3;

  .mapboxgl-ctrl {
    @include spacing-complate-margin(0 0 10px 16px, false);
  }
}

.mapboxgl-ctrl-bottom-right {
  z-index: 3;

  .mapboxgl-ctrl {
    @include spacing-complate-margin(0 16px 10px 0, false);
  }
}

.sm-mapboxgl-tabel-popup {
  .mapboxgl-popup-content {
    padding: 0;
    background: transparent;
  }
}
