@import "../../../common/_utils/style/mixins/mixins.scss";
@import '../../../common/_utils/style/theme/theme.scss';

@include b(open-file) {
  width: 110px;
  height: 32px;
  font-size: 14px;
  background-color: $primary-color;
  border: none;
  border-radius: 4px;
  color: $white;
  @include e(title) {
    letter-spacing: 0.75px;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  @include e(input) {
    display: none;
  }
}
