@import '../../_utils/style/mixins/mixins.scss';
@import '../../_utils/style/theme/theme.scss';

@include b(icon) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $primary-color;
  > i {
    font-size: inherit;
  }
}
