
@import "../../_utils/style/mixins/mixins.scss";
@import '../../_utils/style/theme/theme.scss';

@include b (modal) {
  $modal-prefix: &;

  @include e(content, '-') {
    background-color: $modal-content-bg;

    #{$modal-prefix}-header {
      padding: 14px 24px;
      border-color: $border-color-secondary;
      #{$modal-prefix}-title {
        line-height: 24px;
      }
    }
    #{$modal-prefix}-footer {
      padding: 10px 24px;
      border-color: $border-color-secondary;
    }
  }

  @include e(close, '-') {
    color: $text-color-secondary;
    &-x {
      line-height: 52px;
      height: 52px;
      width: 64px;
    }

  }

  @include e(confirm, '-') {
    &-error &-body > .#{$iconfont-css-prefix} {
      color: $error-color;
    }
    &-warning &-body > .#{$iconfont-css-prefix},
    &-confirm &-body > .#{$iconfont-css-prefix} {
      color: $warning-color;
    }
    &-body &-title {
      line-height: 24px;
    }
    &-body {
      .#{$iconfont-css-prefix} {
        margin-right: 12px;
        font-size: 24px;
        
        + #{$modal-prefix}-title + #{$modal-prefix}-content {
          margin-left: 36px;
        }
      }
    }
    #{$modal-prefix}-body {
      padding: 20px 24px;
    }
  }
}
