@import '../../../common/_utils/style/mixins/mixins.scss';

@include b(time-range) {
  width: 578px;
  height: 80px;
  display: flex;
  align-items: center;
  pointer-events: auto;
  cursor: pointer;
}
