@import '../../../../../common/_utils/style/mixins/mixins.scss';
@import '../../../../../common/_utils/style/theme/theme.scss';
@import '../../../../../common/button/style/button.scss';
@import '../../../../../common/slider/style/slider.scss';

@include b(zoom) {
  @include e(buttons) {
    width: 30px;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0px $shadow-color;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: $collapse-card-header-bg;
  }
  @include e(button) {
    width: 100%;
    height: 30px;
    padding: 0;
    border-radius: 2px;
    border: none;
    color: inherit;
    &[ant-click-animating-without-extra-node='true'] {
      &::after {
        display: none;
      }
    }
    @include m(zoomin) {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    @include m(zoomout) {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      &.follow-zoom-value {
        border-radius: 0;
      }
    }
    @include m(show-zoom) {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      height: 20px;
      line-height: 20px;
      font-size: 12px;
      cursor: default;
      &:hover {
        color: inherit !important;
      }
    }
    @include m(split) {
      width: 100%;
      height: 1px;
      background-color: $border-color-split;
    }
  }
  @include e(slider) {
    height: 300px;
    margin-top: 20px;
    .sm-component-slider {
      &.sm-component-slider-vertical {
        margin: 6px auto;
        .sm-component-slider-rail {
          width: 6px;
        }
      }
      .sm-component-slider-step,
      .sm-component-slider-track {
        width: 6px;
      }
      .sm-component-slider-handle {
        margin-left: -4px;
      }
    }
  }
}
