@import "vue-iclient/src/common/_utils/style/mixins/rtl-mixin.scss";
@import "../../_utils/style/mixins/mixins.scss";
@import '../../../common/_utils/style/theme/theme.scss';

@include b(collapse-card) {
  $collapse-card-prefix: &;

  position: relative;
  overflow: visible;
  font-size: 12px;
  color: $text-color;
  .icon-box-shadow {
    box-shadow: 0 3px 13px 0px $shadow-color;
  }
  @include e(icon) {
    z-index: 100;
    background: $collapse-card-header-bg;
    color: $heading-color;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 16px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    @include text-align-transform(center, false);
    &:hover {
      background: #ffffff;
      border-color: $hover-color !important;
      color: $hover-color !important;
    }
    > i {
      display: block;
    }
    @include when(not-header) {
      @include when(bottom-right) {
        bottom: 0;
        top: unset;
      }
      @include when(bottom-left) {
        bottom: 0;
        top: unset;
      }
    }
    @include when(click-in) {
      border-radius: 4px;
      @include when(top-right) {
        @include float-row(right, false);
      }
      @include when(bottom-right) {
        @include float-row(right, false);
      }
      @include when(top-left) {
        @include float-row(left, true);
      }
      @include when(bottom-left) {
        @include float-row(left, true);
      }
    }
    @include when(click-out) {
      border: none;
      background: transparent !important;
    }
    @include when(top-left) {
      top: 0;
      @include position-row(left, 0, false, false);
      & .sm-component-collapse-card__component-icon.is-auto-rotate {
        transform: rotate(45deg);
      }
    }
    @include when(bottom-left) {
      top: 0;
      @include position-row(left, 0, false, false);
      & .sm-component-collapse-card__component-icon.is-auto-rotate {
        transform: rotate(45deg);
      }
    }
    @include when(top-right) {
      top: 0;
      @include position-row(right, 0, false, false);
      & .sm-component-collapse-card__component-icon.is-auto-rotate {
        transform: rotate(135deg);
      }
    }
    @include when(bottom-right) {
      top: 0;
      @include position-row(right, 0, false, false);
      & .sm-component-collapse-card__component-icon.is-auto-rotate {
        transform: rotate(135deg);
      }
    }
  }

  @include e(header) {
    height: 32px;
    line-height: 32px;
    @include spacing-padding(8px, left, false);
    box-shadow: 0px 1px 0px 0px $shadow-color;
    color: $heading-color;
    background: $collapse-card-header-bg;
    @include spacing-complate-radius(4px 4px 0 0, false);
    &.with-split-line {
      border-bottom: 1px solid $collapse-card-split-line;
    }
    + #{$collapse-card-prefix}__body {
      @include border-corner-radius(top, left, 0, false);
      @include border-corner-radius(top, right, 0, false);
    }
    @include when(top-right) {
      @include spacing-padding(30px, right, false);
    }
    @include when(bottom-right) {
      @include spacing-padding(30px, right, false);
    }
    @include when(top-left) {
      @include spacing-padding(30px, left, false);
    }
    @include when(bottom-left) {
      @include spacing-padding(30px, left, false);
    }
  }
  @include e(content) {
    box-shadow: 0 3px 13px 0px $shadow-color;
    background: $collapse-card-bg;
    position: relative;
    border-radius: 4px;
    &.sm-component-zoom-in-enter-active {
      animation: zoom-in .5s;
    }
    &.sm-component-zoom-in-leave-active {
      animation: zoom-in .5s reverse;
    }
    @keyframes zoom-in {
      0% {
        transform: scale(0);
        opacity: 0;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
    }
    @include when(top-left) {
      transform-origin: top left;
      @include when(icon) {
        & > .sm-component-collapse-card__header {
          @include spacing-padding(38px, left, false);
        }
      }
    }
    @include when(bottom-left) {
      transform-origin: top left;
      @include when(icon) {
        & > .sm-component-collapse-card__header {
          @include spacing-padding(38px, left, false);
        }
      }
    }
    @include when(not-header) {
      @include when(bottom-right) {
        transform-origin: bottom right;
      }
      @include when(bottom-left) {
        transform-origin: bottom left;
      }
    }
    @include when(bottom-right) {
      transform-origin: top right;
    }
    @include when(top-right) {
      transform-origin: top right;
    }
  }
  @include e(body) {
    height: 100%;
    border-radius: 4px;
  }
}
